---
layout: page
title: Satisfaction Levels
---


<table class="table">
    <thead>
    <tr>
        <th scope="col">Score</th>
        <th scope="col">Stars</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Suitable for</th>
    </tr>
    </thead>
    <tbody>
    {% for level in site.data.satisfaction-levels %}
        {% assign score = level[0] %}
        <tr>
            <td><a name="{{ score }}">{{ score }}</a></td>
            <td>{% include stars.html score=score %}</td>
            <td>{{ level[1].title }}</td>
            <td>{{ level[1].description }}</td>
            <td>{{ level[1].useFor }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
