---
layout: page
title: MidPoint Exercises
permalink: /midpoint/exercises/
nav: top
---

<p>
This is a list of exercises for midPoint configuration. It may be used to improve your configuration skills as a follow-up to <a href="/book/">midPoint Book</a>. It may also be used to self-evaluate your midPoint configuration skills.
</p>

<table>
  <thead>
    <tr><th>No.</th><th>Exercise</th><th>Difficulty</th><th>Synopsis</th><th>Training</th></tr>
  </thead>
  <tbody>
     {% assign epages = site.pages | sort: "number" %}
     {% for epage in epages %}
       {% if epage.layout == 'exercise' %}
         <tr><td>{{epage.number}}</td><td><a href="{{epage.url}}">{{epage.title}}</td><td>{{epage.difficulty}}</td><td>{{epage.synopsis}}</td><td>{{epage.trainingref | join: ", " | escape}}</td></tr>
       {% endif %}
     {% endfor %}
  </tbody>
<table>
