---
layout: page
title: MidPoint Exercises
nav-title: Exercises
permalink: /midpoint/exercises/
---

<p>
This is a list of exercises for midPoint configuration. It may be used to improve your configuration skills as a follow-up to <a href="/book/">midPoint Book</a>. It may also be used to self-evaluate your midPoint configuration skills.
</p>

<table class="table">
  <thead>
    <tr><th scope="col">No.</th><th scope="col">Exercise</th><th scope="col">Difficulty</th><th scope="col">Synopsis</th><th scope="col">Training</th></tr>
  </thead>
  <tbody>
     {% assign epages = site.pages | sort: "number" %}
     {% for epage in epages %}
       {% if epage.layout == 'exercise' and epage.visibility != 'hidden' %}
         <tr><td>{{epage.number}}</td><td><a href="{{epage.url}}">{{epage.title}}</td><td>{{epage.difficulty}}</td><td>{{epage.synopsis}}</td><td>{{epage.trainingref | join: ", " | escape}}</td></tr>
       {% endif %}
     {% endfor %}
  </tbody>
<table>
