RewriteRule   "^midpoint/support/bug\-tracking\-system/?$" "/support/bug-tracking-system/" [R]

RewriteRule   "^midpoint/support/bundled\-support/?$" "/support/bundled-support/" [R]

RewriteRule   "^midpoint/reference/tasks/task\-error\-handling/?$" "/midpoint/reference/tasks/activities/error-handling/" [R]

RewriteRule   "^iam/identity\-governance/?$" "/iam/iga/what-is-identity-governance/" [R]

RewriteRule   "^midpoint/studio(/|$)(.*)" "/midpoint/tools/studio/$2" [R]

RewriteRule   "^midpoint/schrodinger(/|$)(.*)" "/midpoint/tools/schrodinger/$2" [R]

RewriteRule   "^midpoint/reference/repository/db(/|$)(.*)" "/midpoint/reference/repository/generic/$2" [R]

RewriteRule   "^midpoint/reference/expressions/introduction/?$" "/midpoint/reference/expressions/" [R]

RewriteRule   "^midpoint/midscale(/|$)(.*)" "/midpoint/projects/midscale/$2" [R]

RewriteRule   "^midpoint/midprivacy(/|$)(.*)" "/midpoint/projects/midprivacy/$2" [R]

RewriteRule   "^midpoint/axiom(/|$)(.*)" "/midpoint/devel/axiom/$2" [R]

RewriteRule   "^midpoint/prism(/|$)(.*)" "/midpoint/devel/prism/$2" [R]

RewriteRule   "^midpoint/support/?$" "/support/" [R]

RewriteRule   "^midpoint/support/long\-term\-support/?$" "/support/long-term-support/" [R]

RewriteRule   "^midpoint/support/subscription\-sponsoring/?$" "/support/subscription-sponsoring/" [R]

RewriteRule   "^midpoint/support/support\-guidelines/?$" "/support/support-guidelines/" [R]

RewriteRule   "^midpoint/reference/synchronization/live\-sync\-error\-handling\-strategy/?$" "/midpoint/reference/tasks/task-error-handling/" [R]
