---
layout: page
title: Red Flags
visibility: system
---

{% assign count-red = 0 %}
{% assign count-orange = 0 %}
{% assign count-yellow = 0 %}
{% assign count-green = 0 %}
{% assign count-unknown = 0 %}
{% assign count-all = 0 %}
{% for p in  site.pages %}
    {%- if p.midpointBranch == "master" -%}
        {% if p.upkeep-status == "red" %}{% assign count-red-master = count-red-master | plus: 1 %}
        {% elsif p.upkeep-status == "orange" %}{% assign count-orange-master = count-orange-master | plus: 1 %}
        {% elsif p.upkeep-status == "yellow" %}{% assign count-yellow-master = count-yellow-master | plus: 1 %}
        {% elsif p.upkeep-status == "green" %}{% assign count-green-master = count-green-master | plus: 1 %}
        {% else %}{% assign count-unknown-master = count-unknown-master | plus: 1 %}
        {% endif %}
        {% assign count-all = count-all | plus: 1 %}
    {%- endif -%}
    {%- unless p.midpointBranch -%}
        {% if p.upkeep-status == "red" %}{% assign count-red = count-red | plus: 1 %}
        {% elsif p.upkeep-status == "orange" %}{% assign count-orange = count-orange | plus: 1 %}
        {% elsif p.upkeep-status == "yellow" %}{% assign count-yellow = count-yellow | plus: 1 %}
        {% elsif p.upkeep-status == "green" %}{% assign count-green = count-green | plus: 1 %}
        {% else %}{% assign count-unknown-master = count-unknown | plus: 1 %}
        {% endif %}
        {% assign count-all = count-all | plus: 1 %}
    {%- endunless -%}
{% endfor %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Status</th>
        <th scope="col">Count</th>
        <th scope="col">Count (master)</th>
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr><th  scope="row">Red</th><td>{{count-red}}</td><td>{{count-red-master}}</td><td>Disaster. Update ASAP.</td></tr>
    <tr><th  scope="row">Orange</th><td>{{count-orange}}</td><td>{{count-orange-master}}</td><td>Bad. Update soon.</td></tr>
    <tr><th  scope="row">Yellow</th><td>{{count-yellow}}</td><td>{{count-yellow-master}}</td><td>Needs some updates, but can wait.</td></tr>
    <tr><th  scope="row">Green</th><td>{{count-green}}</td><td>{{count-green-master}}</td><td>Up to date. Updated recently.</td></tr>
    <tr><th  scope="row">Unknown</th><td>{{count-unknown}}</td><td>{{count-unknown-master}}</td><td>We do not know.</td></tr>
    <tr><th  scope="row">TOTAL</th><td>{{count-all}}</td><td></td></tr>
    </tbody>
</table>

<h2>RED Pages</h2>

<p>This is a disaster. Very outdated information. Update ASAP.</p>

{% include redflag-table-master.html status="red" %}

{% include redflag-table.html status="red" %}

<h2>ORANGE Pages</h2>

<p>Quite bad. Really should be updated soon.</p>

{% include redflag-table-master.html status="orange" %}

{% include redflag-table.html status="orange" %}

<h2>Yellow Pages</h2>

<p>Needs some updates, but can wait.</p>

{% include redflag-table-master.html status="yellow" %}

{% include redflag-table.html status="yellow" %}

<h2>Green Pages</h2>

<p>Up to date. Reviewed and updated recently.</p>

{% include redflag-table-master.html status="green" %}

{% include redflag-table.html status="green" %}

<h2>Unknown Pages</h2>

<p>No marker. We do not know.</p>

{% include redflag-table-master.html status=null %}

{% include redflag-table.html status=null %}
