---
layout: page
title: Wiki Redirects
---

<h2>Global</h2>

Apply this only when wiki is completely migrated:

<pre>
RewriteRule   "^/" "https://docs.evolveum.com/" [R]
RewriteRule   "^/display/midPoint/Introduction" "https://docs.evolveum.com/midpoint/" [R]
</pre>

<h2>Visible pages and extras</h2>

This should be active now:

<pre>
{% for page in site.pages %}{% if page.wiki-name and page.effectiveVisibility == 'visible' %}
RewriteRule  "^/display/midPoint/{{ page.wiki-name | url_encode | replace: "+", "\\+" | replace: "-", "\\-" }}" "https://docs.evolveum.com{{ page.url }}" [R]{% endif %}{% endfor %}
</pre>

<h2>Non-visible pages</h2>

This is probably work in progress:

<pre>
RewriteRule   "^/display/midPoint/Release\+4.3\+\-\+PLANNED" "https://docs.evolveum.com/midpoint/release/4.3/" [R]
{% for page in site.pages %}{% if page.wiki-name and page.effectiveVisibility != 'visible' %}
RewriteRule  "^/display/midPoint/{{ page.wiki-name | url_encode | replace: "+", "\\+" | replace: "-", "\\-" }}" "https://docs.evolveum.com{{ page.url }}" [R]{% endif %}{% endfor %}
</pre>
