---
layout: page
title: Page Status
visibility: system
---

{% assign count-experimental = 0 %}
{% assign count-deprecated = 0 %}
{% assign count-obsolete = 0 %}
{% assign count-all = 0 %}
{% for p in  site.pages %}
    {% if p.experimental %}{% assign count-experimental = count-experimental | plus: 1 %}
    {% elsif p.deprecated %}{% assign count-deprecated = count-deprecated | plus: 1 %}
    {% elsif p.obsolete %}{% assign count-obsolete = count-obsolete | plus: 1 %}
    {% endif %}
    {% assign count-all = count-all | plus: 1 %}
{% endfor %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Status</th>
        <th scope="col">Count</th>
    </tr>
    </thead>
    <tbody>
    <tr><th  scope="row">Experimental</th><td>{{count-experimental}}</td></tr>
    <tr><th  scope="row">Deprecated</th><td>{{count-deprecated}}</td></tr>
    <tr><th  scope="row">Obsolete</th><td>{{count-obsolete}}</td></tr>
    <tr><th  scope="row">TOTAL</th><td>{{count-all}}</td></tr>
    </tbody>
</table>


<h2>Experimental Pages</h2>

{% assign pages = site.pages | where: "experimental","true" %}
{% include pages-table.html pages=pages %}

<h2>Deprecated Pages</h2>

{% assign pages = site.pages | where: "deprecated","true" %}
{% include pages-table.html pages=pages %}

<h2>Obsolete Pages</h2>

{% assign pages = site.pages | where: "obsolete","true" %}
{% include pages-table.html pages=pages %}
