---
layout: page
title: MidPoint Releases
nav-title: Releases
wiki-name: midPoint Releases
wiki-metadata-create-user: semancik
wiki-metadata-create-date: 2011-05-16T23:09:12.032+02:00
wiki-metadata-modify-user: petr.gasparik
wiki-metadata-modify-date: 2017-12-14T14:18:47.210+01:00
display-order: 80
sub-sort-by: release-version
sub-sort-strategy: version
sub-sort-direction: reverse
sub-nav-title-property: release-version
sub-nav-title-prefix: 'MidPoint '
---

<h2>Stable Releases</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Release</th>
            <th scope="col">Release Date</th>
            <th scope="col">Type</th>
            <th scope="col">Support Status</th>
            <th scope="col">End of Support</th>
        </tr>
    </thead>
    <tbody>
    {% assign today = 'now' | date: '%s' %}
    {% assign versions = site.data.midpoint-versions | reverse %}
    {% for v in versions %}
        {% if v.status == null or v.status == "released" %}
            {% assign supportStatus = 'unsupported' %}
            {% if v.endOfSupport %}
                {% assign endOfSupport = v.endOfSupport | date: '%s' %}
                {% if today < endOfSupport %}
                    {% assign supportStatus = 'supported' %}
                {% endif %}
            {% endif %}

    <tr class="release-{{ supportStatus }}">
        <th scope="row"><a href="{{ v.version }}/">{% include midpoint-version.html version=v %}</a></th>
        <td>{{ v.releaseDate | date: "%d %b %Y" }}</td>
        <td>{% include release-type.html version=v %}</td>
        <td>{{ supportStatus }}</td>
        <td>{{ v.endOfSupport | date: "%d %b %Y" }}</td>
        </td>
    </tr>

        {% endif %}
    {% endfor %}

    </tbody>
</table>

<h2>Planned Releases</h2>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Release</th>
        <th scope="col">Planned Release Date</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    {% assign versions = site.data.midpoint-versions %}
    {% for v in versions %}
    {% if v.status == "development" or v.status == "planned" %}
    <tr>
        <th scope="row"><a href="{{ v.version }}/">{% include midpoint-version.html version=v %}</a></th>
        <td>{{ v.plannedReleaseTimeFrame }}</td>
        <td>{{ v.status }}</td>
    </tr>

    {% endif %}
    {% endfor %}

    </tbody>
</table>

<h2>See Also</h2>
<ul>
    <li><a href="/midpoint/roadmap/">MidPoint Roadmap</a></li>
    <li><a href="/midpoint/history/">MidPoint History</a></li>
</ul>