---
layout: page
title: MidPoint Releases
nav-title: Releases
wiki-name: midPoint Releases
wiki-id: 1867801
wiki-metadata-create-user: semancik
wiki-metadata-create-date: 2011-05-16T23:09:12.032+02:00
wiki-metadata-modify-user: petr.gasparik
wiki-metadata-modify-date: 2017-12-14T14:18:47.210+01:00
display-order: 80
sub-sort-by: release-version
sub-sort-strategy: version
sub-sort-direction: reverse
sub-nav-title-property: release-version
sub-nav-title-prefix: 'MidPoint '
---

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active release-nav-tab" data-type="supported">Supported Releases</a>
    </li>
    <li class="nav-item">
        <a class="nav-link release-nav-tab" data-type="under-development">Under Development</a>
    </li>
    <li class="nav-item">
        <a class="nav-link release-nav-tab" data-type="EOL">End Of Life</a>
    </li>

    <table class="table release-nav-table" data-type="supported">
        <thead>
            <tr>
                <th scope="col">Release</th>
                <th scope="col">End of Support</th>
                <th scope="col">Type</th>
                <th scope="col">Reference Documentation</th>
            </tr>
        </thead>
        <tbody>
        {% assign today = 'now' | date: '%s' %}
        {% assign tempRefDoc = "4.7 and earlier" %}
        {% assign versions = site.data.midpoint-versions %}
        {% for v in versions %}
            {% if v.status == null or v.status == "released" %}
                {% assign supportStatus = 'unsupported' %}
                {% if v.endOfSupport %}
                    {% assign endOfSupport = v.endOfSupport | date: '%s' %}
                    {% if today < endOfSupport %}
                        {% assign supportStatus = 'supported' %}
                    {% endif %}
                {% endif %}
                {% assign referenceDoc = tempRefDoc %}
                {% if v.docsDisplayBranch %}
                    {% assign referenceDoc = v.docsDisplayBranch %}                  
                    {% assign tempRefDoc = v.docsDisplayBranch %}                  
                {% endif %}
        
                {% if supportStatus == 'supported' %}
                <tr class="release-{{ supportStatus }}">
                    <th scope="row"><a href="{{ v.version }}/">{% include midpoint-version.html version=v %}</a></th>
                    <td>{{ v.endOfSupport | date: "%d %b %Y" }}</td>
                    <td>{% include release-type.html version=v %}</td>
                    <td>{{ referenceDoc }}</td>
                </tr>
                {% endif %}
            {% elsif v.type == "production" %}
                {% assign tempRefDoc = "Development" %}
            {% endif %}
        {% endfor %}
    
        </tbody>
    </table>
    <table class="table release-nav-table" data-type="under-development" style="display: none;">
        <thead>
            <tr>
                <th scope="col">Release</th>
                <th scope="col">Planned Release Date</th>
                <th scope="col">Type</th>
                <th scope="col">Reference Documentation</th>
            </tr>
        </thead>
        <tbody>
        {% assign versions = site.data.midpoint-versions %}
        {% assign tempRefDocUnderDev = "4.7 and earlier" %}
        {% for v in versions %}
            {% if v.status == "development" %}
                {% if v.docsDisplayBranch %}
                    {% assign referenceDoc = v.docsDisplayBranch %}
                    {% assign tempRefDocUnderDev = v.docsDisplayBranch %}
                {% elsif v.type == "production" %}
                    {% assign referenceDoc = "Development" %}
                    {% assign tempRefDocUnderDev = "Development" %}
                {% else %}
                    {% assign referenceDoc = tempRefDocUnderDev %}
                {% endif %}
                <tr class="release-{{ supportStatus }}">
                    <th scope="row"><a href="{{ v.version }}/">{% include midpoint-version.html version=v %}</a></th>
                    <td>{% if v.plannedReleaseDate %}{{ v.plannedReleaseDate | date: "%d %B %Y" }}{% else %}{{ v.plannedReleaseTimeFrame }}{% endif %}</td>
                    <td>{% if v.type %}{% include release-type.html version=v %}{% endif %}</td>
                    <td>{{ referenceDoc }}</td>
                </tr>
            {% else %}
                {% if v.docsDisplayBranch %}
                    {% assign tempRefDocUnderDev = v.docsDisplayBranch %}
                {% elsif v.status == "planned" and v.type == "production" %}
                    {% assign tempRefDocUnderDev = "Development" %}
                {% endif %}
            {% endif %}
        {% endfor %}
    
        </tbody>
    </table>
    <table class="table release-nav-table" data-type="EOL" style="display: none;">
        <thead>
            <tr>
                <th scope="col">Release</th>
                <th scope="col">End of Support</th>
                <th scope="col">Type</th>
                <th scope="col">Reference Documentation</th>
            </tr>
        </thead>
        <tbody>
        {% assign today = 'now' | date: '%s' %}
        {% assign tempRefDoc = "4.7 and earlier" %}
        {% assign versions = site.data.midpoint-versions %}
        {% for v in versions %}
            {% if v.status == null or v.status == "released" %}
                {% assign supportStatus = 'unsupported' %}
                {% if v.endOfSupport %}
                    {% assign endOfSupport = v.endOfSupport | date: '%s' %}
                    {% if today < endOfSupport %}
                        {% assign supportStatus = 'supported' %}
                    {% endif %}
                {% endif %}
                {% assign referenceDoc = tempRefDoc %}
                {% if v.docsDisplayBranch %}
                    {% assign referenceDoc = v.docsDisplayBranch %}                  
                    {% assign tempRefDoc = v.docsDisplayBranch %}                  
                {% endif %}
        
                {% if supportStatus == 'unsupported' %}
                <tr class="release-{{ supportStatus }}">
                    <th scope="row"><a href="{{ v.version }}/">{% include midpoint-version.html version=v %}</a></th>
                    <td>{{ v.endOfSupport | date: "%d %b %Y" }}</td>
                    <td>{% include release-type.html version=v %}</td>
                    <td>{{ referenceDoc }}</td>
                </tr>
                {% endif %}
            {% elsif v.type == "production" %}
                {% assign tempRefDoc = "Development" %}
            {% endif %}
        {% endfor %}
    
        </tbody>
    </table>
</ul>


<!---<h2>Releases under development</h2>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Release</th>
        <th scope="col">Planned Release Date</th>
    </tr>
    </thead>
    <tbody>
    {% assign versions = site.data.midpoint-versions %}
    {% for v in versions %}
    {% if v.status == "development" %}
    <tr>
        <th scope="row"><a href="{{ v.version }}/">{% include midpoint-version.html version=v %}</a></th>
        <td>{% if v.plannedReleaseDate %}{{ v.plannedReleaseDate | date: "%d %B %Y" }}{% else %}{{ v.plannedReleaseTimeFrame }}{% endif %}</td>
    </tr>

    {% endif %}
    {% endfor %}

    </tbody>
</table>-->

<h2>See Also</h2>
<ul>
    <li><a href="/midpoint/roadmap/">MidPoint Roadmap</a></li>
    <li><a href="/midpoint/history/">MidPoint History</a></li>
</ul>

<script defer src="/assets/js/releasePage.js"></script>
