

<table class="table">
	<thead>
	<tr>
		<th scope="col">Version</th>
		<th scope="col">Release Date</th>
		<th scope="col">Origin</th>
		<th scope="col">Binary Download</th>
		<th scope="col">Source Code</th>
		<th scope="col">Framework Version</th>
		<th scope="col">Bundled with MidPoint</th>
		<th scope="col">Change Description</th>
	</tr>
	</thead>
	<tbody>
	{% assign cpages = site.pages | sort: "releaseDate" %}
	{% for cpage in cpages %}
		{% if cpage.layout == 'connector-version-page' %}
		<tr>
			<th  scope="row"><a href="{{cpage.url}}">{{cpage.version}}{% if cpage.releaseStatus == 'SNAPSHOT' %} (SNAPSHOT){% endif %}</a></th>
			<td>{{cpage.releaseDate}} {% if cpage.releaseStatus == 'SNAPSHOT' %}(planned){% endif %}</td>
			<td>{{cpage.origin}}</td>
			<td><a href="{{cpage.binaryUrlJar}}">jar</a></td>
			<td><a href="{{cpage.sourceUrlRelease}}">source</a></td>
			<td>{{cpage.frameworkVersion}}</td>
			<td>{{cpage.bundledWithMidPoint}}</td>
			<td>{{cpage.changeDescription | escape}}</td>
		</tr>
		{% endif %}
	{% endfor %}
	</tbody>
</table>
