

<table>
	<thead>
	<tr>
		<th>Version</th>
		<th>Release Date</th>
		<th>Origin</th>
		<th>Binary Download</th>
		<th>Source Code</th>
		<th>Framework Version</th>
		<th>Bundled with MidPoint</th>
		<th>Change Description</th>
	</tr>
	</thead>
	<tbody>
	{% assign cpages = site.pages | sort: "releaseDate" %}
	{% for cpage in cpages %}
		{% if cpage.layout == 'connector-version-page' %}
		<tr>
			<td><a href="{{cpage.url}}">{{cpage.version}}{% if cpage.releaseStatus == 'SNAPSHOT' %} (SNAPSHOT){% endif %}</a></td>
			<td>{{cpage.releaseDate}} {% if cpage.releaseStatus == 'SNAPSHOT' %}(planned){% endif %}</td>
			<td>{{cpage.origin}}</td>
			<td><a href="{{cpage.binaryUrlJar}}">jar</a></td>
			<td><a href="{{cpage.sourceUrlRelease}}">source</a></td>
			<td>{{cpage.frameworkVersion}}</td>
			<td>{{cpage.bundledWithMidPoint}}</td>
			<td>{{cpage.changeDescription | escape}}</td>
		</tr>
		{% endif %}
	{% endfor %}
	</tbody>
<table>
