

<table class="table">
	<thead>
	<tr>
		<th scope="col">Version</th>
		<th scope="col">Release Date</th>
		<th scope="col">Origin</th>
		<th scope="col">Binary Download</th>
		<th scope="col">Source Code</th>
		<th scope="col">Framework Version</th>
		<th scope="col">Bundled with MidPoint</th>
		<th scope="col">Change Description</th>
	</tr>
	</thead>
	<tbody>
	{% assign cpages = site.pages | sort: "releaseDate" %}
	{% for cpage in cpages %}
		{% if cpage.layout == 'connector-version-page' %}
		<tr>
			<th  scope="row"><a href="{{cpage.url}}">{{cpage.version}}{% if cpage.release-status == 'SNAPSHOT' %} (SNAPSHOT){% endif %}</a></th>
			<td>{{cpage.release-date}} {% if cpage.release-status == 'SNAPSHOT' %}(planned){% endif %}</td>
			<td>{{cpage.origin}}</td>
			<td><a href="{{cpage.binary-url-jar}}">jar</a></td>
			<td><a href="{{cpage.source-url-release}}">source</a></td>
			<td>{{cpage.framework-version}}</td>
			<td>{{cpage.bundled-with-midpoint}}</td>
			<td>{{cpage.change-description | escape}}</td>
		</tr>
		{% endif %}
	{% endfor %}
	</tbody>
</table>
