<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Support status</th>
        <th scope="col">Functionality Status</th>
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    {% assign cpages = include.pages | sort: "display-order" %}
    {% for cpage in cpages %}
    <tr>
        <th  scope="row"><a href="{{cpage.url}}">{{cpage.title}}</a></th>
        <td>{{cpage.support-status-misc}}</td>
        <td>{{cpage.functionality-status}}<br>({{cpage.origin}})</td>
        <td>{{cpage.description | escape}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
