<div class="admonitionblock deprecated">
    <table>
        <tbody><tr>
            <td class="icon">
                <i class="fa fa-exclamation-circle" title="deprecated"></i>
            </td>
            <td class="content">
                <div class="title">Deprecated</div>
                This functionality is <a href="/midpoint/versioning/deprecated/">deprecated</a>{% if include.since %} since version {{ include.since }}{% endif %}.
                The functionality is still supported and maintained, but it will no longer be extended.
                The plan is to remove this functionality {% if include.planned-removal %}in version {{include.planned-removal}}{% else %}sooner or later{% endif %}.
                Users of this functionality are strongly encouraged to stop using this functionality and migrate to a newer equivalent.
            </td>
        </tr></tbody>
    </table>
</div>
