<div class="admonitionblock experimental">
    <table>
        <tbody><tr>
            <td class="icon">
                <i class="fa fa-flask" title="experimental"></i>
            </td>
            <td class="content">
                <div class="title">EXPERIMENTAL</div>
                This feature is <a href="/midpoint/versioning/experimental/"><b>experimental</b></a>.
                It means that it is not intended for production use.
                The feature is not finished.
                It is not stable.
                The implementation may contain bugs, the configuration may change at any moment without any warning and it may not work at all.
                Use at your own risk.
                This feature is not covered by midPoint support.
                In case that you are interested in <a href="/support/subscription-sponsoring/">supporting</a> development of this feature, please consider purchasing <a href="/support/subscription-sponsoring/">midPoint Platform subscription</a>.
                {% if include.description %}{{ include.description }}{% endif %}
            </td>
        </tr></tbody>
    </table>
</div>
