{%- if include.feature -%}
    {%- assign f = include.feature -%}
{%- else -%}
    {%- for fx in site.data.midpoint-features -%}
        {%- if fx.id == include.id -%}{%- assign f = fx -%}{%- endif -%}
    {%- endfor -%}
{%- endif -%}
{%- if f.doc -%}
    {%- if f.doc.intro -%}{%- assign doclink = f.doc.intro -%}
    {%- elsif f.doc.config -%}{%- assign doclink = f.doc.config -%}
    {%- else -%}{%- assign doclink = null -%}
    {%- endif -%}
{%- else -%}
    {%- assign doclink = null -%}
{%- endif -%}
{% if doclink %}<a href="{{ doclink }}">{% endif %}{{ f.title }}{% if doclink %}</a>{% endif %}