<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <h2>{{ site.title | escape }}</h2>
          <p>{{- site.description | escape -}}</p>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="copyright">
        <p><a href="/copyright/">© 2011-2020 Evolveum. All rights reserved.</a></p>
        <p><a href="/copyright/">CC BY-NC-ND</a></p>
      </div>

  </div>

</footer>
