<div class="col-md-2">
    <div class="footer-heading">Evolveum</div>
    <ul class="list-unstyled footer-list">
        <li><a href="https://evolveum.com/services/">Services</a></li>
        <li><a href="https://evolveum.com/about-us/">About us</a></li>
        <li><a href="https://evolveum.com/about-us/contact-us/">Contact us</a></li>
    </ul>
</div>
<div class="col-md-4">
    <div class="footer-heading">Follow us</div>
    <a href="https://evolveum.com/blog/" class="social"><i class="fas fa-newspaper"></i></a>
    <a href="https://www.linkedin.com/company/evolveum" class="social"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://www.youtube.com/@Evolveum" class="social"><i class="fab fa-youtube"></i></a>
    <a href="https://bsky.app/profile/evolveum.bsky.social" class="social"><i class="fab fa-bluesky"></i></a>
    <a href="https://gitter.im/Evolveum/midpoint" class="social"><i class="fab fa-gitter"></i></a>
    <div class="edit-buttons">
        {% if page.midpointBranch != null %}
            <a href="https://github.com/Evolveum/midpoint/blob/{{ page.midpointBranch }}/docs{{ page.path | replace: "midpoint/reference/", "" | replace: page.midpointBranchSlug, "" }}"><button type="button" class="btn btn-light btn-sm">Edit on GitHub</button></a>
            <a href="https://github.com/Evolveum/midpoint/commits/{{ page.midpointBranch }}/docs{{ page.path | replace: "midpoint/reference/", "" | replace: page.midpointBranchSlug, "" }}"><button type="button" class="btn btn-light btn-sm">History</button></a>
        {% else %}
            <a href="https://github.com/Evolveum/docs/blob/master/{{ page.path }}"><button type="button" class="btn btn-light btn-sm">Edit on GitHub</button></a>
            <a href="https://github.com/Evolveum/docs/commits/master/{{ page.path }}"><button type="button" class="btn btn-light btn-sm">History</button></a>
        {% endif %}
    </div>
</div>
