{%- for f in site.data.midpoint-features -%}
{%- if f.id == page.midpoint-feature -%}{%- assign feature = f -%}{%- endif -%}
{%- endfor -%}
<div class="admonitionblock midpoint-feature">
    <table>
        <tbody><tr>
            <td class="icon">
                <i class="fa fa-rocket" title="Feature"></i>
            </td>
            <td class="content">
                <div class="title">{{ feature.title }} feature</div>
                This page
                {%- if page.doc-type == 'intro' %} is an introduction to {% elsif page.doc-type == 'config' %} describes configuration of {% else %} describes {% endif -%}
                <a href="{{ feature.url }}">{{ feature.title }}</a> midPoint feature.
                Please see the <a href="{{ feature.url }}">feature page</a> for more details.
            </td>
        </tr></tbody>
    </table>
</div>
