<div class="admonitionblock since">
    <table>
        <tbody><tr>
            <td class="icon">
                <i class="fa fa-hard-hat" title="missing/incomplete"></i>
            </td>
            <td class="content">
                <div class="title">Missing/incomplete feature</div>
                This is a missing or incomplete feature of midPoint and/or of other related components.
                We are perfectly capable to implement, fix and finish the feature, just the funding for the work is needed.
                Please consider the possibility for <a href="/support/subscription-sponsoring/">supporting</a> development of this feature by means of midPoint Platform subscription.
                If you already are midPoint Platform subscriber and this feature is within the goals of your deployment you may be able to use your subscription to endorse implementation of this feature.
            </td>
        </tr></tbody>
    </table>
</div>
