<div class="admonitionblock outdated">
    <table>
        <tbody><tr>
            <td class="icon">
                <i class="far fa-hourglass" title="outdated"></i>
            </td>
            <td class="content">
                <div class="title">OUTDATED</div>
                This page is outdated, it contains information that was not updated in a long time.
                The described functionality may or may not work.
                Do not rely on information provided on this page.
            </td>
        </tr></tbody>
    </table>
</div>
