{% if page.obsolete or page.obsolete-since %}{% include obsolete.html since=page.obsolete-since replaced-by=page.replaced-by description=page.obsolete-description %}{% endif %}
{% if page.deprecated or page.deprecated-since %}{% include deprecated.html since=page.deprecated-since replaced-by=page.replaced-by description=page.deprecated-description %}{% endif %}
{% if page.experimental %}{% include experimental.html description=page.experimental-description %}{% endif %}
{% if page.since %}{% include since.html since=page.since improved=page.since-improved description=page.since-description %}{% endif %}
{% if page.planned or page.doc-type == 'plan' %}{% include planned.html %}{% endif %}
{% if page.outdated %}{% include outdated.html %}{% endif %}
