{%- assign compliance = null -%}
{%- if page.feature -%}
    {%- for c in site.data.compliance-iso27001 -%}
        {%- if c.features contains page.feature -%}{%- assign compliance = true -%}{%- endif -%}
    {%- endfor -%}
{%- endif -%}

{%- if compliance -%}
<div class="sect1">
    <h2 id="object-lifecycle-property">Compliance</h2>
    <div class="sectionbody">
        <div class="paragraph">
            <p>This feature is related to the following ISO27001 controls:</p>
        </div>
        <div class="sectionbody">
            <div class="ulist">
                <ul>
                    {%- for c in site.data.compliance-iso27001 -%}
                        {%- if c.features contains page.feature -%}
                    <li>
                        <p>{{ c.id }} {{ c.title }}</p>
                    </li>
                        {%- endif -%}
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    </div>
</div>
{%- endif -%}
