{%- assign compliance_iso27001 = null -%}
{%- if page.midpoint-feature -%}
    {%- for c in site.data.compliance-iso27001 -%}
        {%- if c.features contains page.midpoint-feature -%}{%- assign compliance_iso27001 = true -%}{%- endif -%}
    {%- endfor -%}
{%- endif -%}

{%- if compliance_iso27001 -%}
<div class="sect1">
    <h2 id="object-lifecycle-property">Compliance</h2>
    <div class="sectionbody">
        <div class="paragraph">
            <p>This feature is related to the following compliance frameworks:</p>
        </div>
        <div class="sectionbody">
            <div class="ulist">
                <ul>
                    {%- for c in site.data.compliance-iso27001 -%}
                        {%- if c.features contains page.midpoint-feature -%}
                    <li>
                        <p><a href="{{ c.url }}">ISO/IEC&nbsp;27001 {{ c.id }}: {{ c.title }}</a></p>
                    </li>
                        {%- endif -%}
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    </div>
</div>
{%- endif -%}
