<div class="admonitionblock planned">
    <table>
        <tbody><tr>
            <td class="icon">
                <i class="fa fa-map" title="planned"></i>
            </td>
            <td class="content">
                <div class="title">Planned feature</div>
                This feature is <a href="/midpoint/versioning/feature-lifecycle/"><b>planned</b></a> feature.
                This feature is roughly designed and it was evaluated as feasible.
                However, there is currently no specific plan <i>when</i> it will be implemented, because there is no funding for this development yet.
                In case that you are interested in <a href="/support/subscription-sponsoring/">supporting</a> development of this feature,
                please consider purchasing <a href="/support/subscription-sponsoring/">midPoint Platform subscription</a>.
            </td>
        </tr></tbody>
    </table>
</div>
