<table class="table">
    <thead>
    <tr>
        <th scope="col">Page</th>
        <th scope="col">Status</th>
        <th scope="col">Note</th>
    </tr>
    </thead>
    <tbody>
    {% for p in  site.pages%}
    {% if p.midpointBranch == "master" and p.upkeep-status == include.status %}
    <tr>
        <th scope="row"><a href="{{p.url}}">{{p.title}}</a> (master)</th>
        <td>{{p.upkeep-status}}</td>
        <td>{{p.upkeep-note}}</td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>

