{% for v in site.data.midpoint-versions %}{% if v.version == page.release-version %}{% assign this = v %}{% endif %}{% endfor %}
<div class="sect1">
    <h2 id="known-issues-and-limitations">Known Issues and Limitations</h2>
    <div class="sectionbody">
        <div class="paragraph">
            <p>
                As all real-world software midPoint {{this.version}} has some known issues.
                Full list of the issues is maintained in <a href="https://jira.evolveum.com/">bug tracking system</a>.
                As far as we know at the time of the release there was no known critical or security issue.
            </p>
        </div>
        <div class="paragraph">
            <p>
                There is currently no plan to fix the known issues of midPoint {{this.version}} <i>en masse</i>.
                These issues will be fixed in future maintenance versions of midPoint only if the fix is covered by a support agreement or subscription.
                No other issues will be fixed - except for severe security issues that may be found in the future.
            </p>
        </div>
        <div class="paragraph">
            <p>
                The known issues of midPoint {{this.version}} may or may not be fixed in following releases.
                This depends on the available time, issue severity and many variables that are currently difficult to predict.
                The only reliable way how to make sure that an issue is fixed is to purchase midPoint support.
                Or you can fix the bug yourself.
                MidPoint is always open to contributions.
            </p>
        </div>
        <div class="paragraph">
            <p>
                This may seem a little bit harsh at a first sight.
                But there are <a href="/faq/why-is-my-bug-not-fixed-yet/">very good reasons for this policy</a>.
                And in fact it is no worse than what you get with most commercial software.
                We are just saying that with plain language instead of scrambling it into a legal mumbo-jumbo.
            </p>
        </div>
    </div>
</div>
