{% for v in site.data.midpoint-versions %}{% if v.version == page.release-version %}{% assign this = v %}{% endif %}{% endfor %}
<table class="table synopsis-table">
    <tbody>
    {% if this.releaseDate %}
        <tr><th scope="row">Release date</th><td>{{ this.releaseDate | date: "%d %B %Y" }}</td></tr>
    {% else %}
        <tr><th scope="row">Planned release</th><td>{{ this.plannedReleaseTimeFrame }}</td></tr>
    {% endif %}
    <tr><th scope="row">Release type</td><td>
        {% if this.support == "lts" %}
            Long-term support release
        {% elsif this.support == "feature" %}
            Feature release
        {% elsif this.type = "maintenance" %}
            Maintenance release
        {% else %}
            {{ this.type }} release
        {%endif%}
    </td></tr>
    {% if this.endOfSupport %}
        <tr><th scope="row">End of support</th><td>{{ this.endOfSupport | date: "%d %B %Y" }}</td></tr>
    {% endif %}
    </tbody>
</table>
