{% for v in site.data.midpoint-versions %}{% if v.version == page.release-version %}{% assign this = v %}{% endif %}{% endfor %}
<div class="release-dedication-block">
    <table>
        <tbody><tr>
            <td class="release-dedication-portrait">
                <img class="release-dedication-portrait" src="../portrait/{{ this.portrait }}" alt="{{ this.portrait }}"></img>
            </td>
            <td class="content">
                {{ include.content }}
            </td>
        </tr></tbody>
    </table>
</div>
