{% for v in site.data.midpoint-versions %}{% if v.version == page.release-version %}{% assign this = v %}{% endif %}{% endfor %}
<div class="sect1">
    <h2 id="purpose-and-quality">Purpose and Quality</h2>
    <div class="sectionbody">
        <div class="paragraph">
            <p>
                Release {% include midpoint-version.html version=this %} is intended for full production use.
                {% if this.support == "lts" %}
                    It belongs to a <a href="/midpoint/support/long-term-support/">long-term support (LTS)</a> family, supported for a prolonged time period.
                    Therefore it is intended for users that prefer long-term stability over new features.
                {% else %}
                    It belongs to a <a href="/midpoint/support/long-term-support/">feature release</a> family, supported only for a reduced time period.
                    Therefore it is intended for users that prefer new features over long-term stability.
                {% endif %}
            </p>
        </div>
        <div class="paragraph">
            <p>
                All features are stable and well tested - except the features that are explicitly marked as <i>experimental</i> or <i>partially implemented</i>.
                Those features are supported only with special subscription contract.
            </p>
        </div>
    </div>
</div>
