<div class="sect1">
    <h2 id="purpose-and-quality">Prerequisites</h2>
    <div class="sectionbody">
        <div class="paragraph">
            <p>
                MidPoint is a Java application, therefore it requires a Java platform to run on.
                <b>Java 21 is the recommended platform</b> for MidPoint {{ page.release-version }}{{ include.release-version }}.
                Alternatively, Java 17 can be used.
                Other Java platform versions are not supported.
                Java platform distributions based on <a href="https://openjdk.org/">OpenJDK</a> are recommended.
                Other JDK builds (e.g. Oracle) may work as well, but those have a limited support for midPoint (see the <a href="/midpoint/release/{{ page.release-version }}">Release Notes</a> for details).
            </p>
        </div>
        <div class="paragraph">
            <p>
                The <code>JAVA_HOME</code> environment variable should point to the Java installation path.
            </p>
        </div>
    </div>
</div>
