{% if include.version.support == null %}
    {% if include.version.type == "maintenance" %}
        Maintenance release
    {% else %}
        Production release
    {% endif %}
{% elsif include.version.support == "special" %}
    Special release
{% elsif include.version.support == "lts" %}
    {% if include.version.type == "maintenance" %}
        Maintenance release (LTS)
    {% else %}
        Long-term support release (LTS)
    {% endif %}
{% elsif include.version.support == "feature" %}
    Feature release
{% elsif include.version.type = "maintenance" %}
    Maintenance release
{% else %}
    {{ include.version.type }} release
{% endif %}
