<div class="sect1">
    <h2 id="purpose-and-quality">Prerequisites</h2>
    <div class="sectionbody">
        <div class="paragraph">
            <p>
                MidPoint is a Java application, therefore it requires Java platform to run on.
                <b>Java 11 is a recommended platform</b> for MidPoint {{ page.release-version }}.
                Java platform distributions based on <a href="https://openjdk.org/">OpenJDK</a> are recommended.
                Other JDK builds (e.g. Oracle) may work as well, but those have limited support for midPoint (see <a href="/midpoint/release/{{ page.release-version }}">release notes</a> for the details).
            </p>
            <p>
                MidPoint {{ page.release-version }} may run on Java 8 platform.
                However Java 8 support is deprecated.
                If you choose to use Java 8, it is strongly recommended to migrate to Java 11 soon.
                As the situation with free updates to Oracle Java platform is not clear support for Java 8 may be removed even before the lifetime of this release is over.
            </p>
        </div>
        <div class="paragraph">
            <p>
                <code>JAVA_HOME</code> environment variable should point to the Java installation path.
            </p>
        </div>
    </div>
</div>
