{% comment %}
Download links for MidPoint 1.x and some 2.x releases that are using WAR instead of dist.
{% endcomment %}
<div class="sect1">
    <h2 id="download-and-install">Download</h2>
    <div class="sectionbody">
        <div class="paragraph">
            <p>
                Download the midPoint binary release according to the following table:
            </p>
        </div>
        <table class="tableblock frame-all grid-all fit-content">
            <tbody>
            <tr>
                <td class="tableblock"><p class="tableblock">MidPoint {{this.version}} Binary Distribution</td>
                <td class="tableblock"><p class="tableblock">
                    <a href="https://evolveum.com/downloads/midpoint/{{this.version}}/midpoint.war">https://evolveum.com/downloads/midpoint/{{this.version}}/midpoint.war</a><br>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
