<div class="sect1">
    <h2 id="download-and-install">Download</h2>
    <div class="sectionbody">
        <div class="paragraph">
            <p>
                Download the midPoint binary release according to the following table:
            </p>
        </div>
        <table class="tableblock frame-all grid-all fit-content">
            <tbody>
            <tr>
                <td class="tableblock"><p class="tableblock">MidPoint {{include.this.version}} Binary Distribution</td>
                <td class="tableblock"><p class="tableblock">
                    <a href="https://evolveum.com/downloads/midpoint/{{include.this.version}}/midpoint-{{include.this.version}}-dist.zip">https://evolveum.com/downloads/midpoint/{{include.this.version}}/midpoint-{{include.this.version}}-dist.zip</a><br>
                    <a href="https://evolveum.com/downloads/midpoint/{{include.this.version}}/midpoint-{{include.this.version}}-dist.tar.gz">https://evolveum.com/downloads/midpoint/{{include.this.version}}/midpoint-{{include.this.version}}-dist.tar.gz
                </td>
            </tr>
            </tbody>
        </table>
        <div class="paragraph">
            <p>
                Unpack the archive file to a convenient location.
                The following instructions refer to relative paths inside this archive.
            </p>
        </div>
    </div>
</div>
