<div class="admonitionblock since">
    <table>
        <tbody><tr>
            <td class="icon">
                <i class="fa fa-code-branch" title="since version"></i>
            </td>
            <td class="content">
                <div class="title">Since {{ include.since | join: ', ' }}{% if include.project %} ({{include.project}}){% endif %}</div>
                This functionality is available since version {{ include.since | join: ', '  }}{% if include.project %} of {{include.project}}{% endif %}.
                {% if include.improved %}The functionality was further improved in {% if include.improved.size > 1 %}versions{% else %}version{% endif %} {{ include.improved | join: ", " }}{% if include.project %} of {{include.project}}{% endif %}.{% endif %}
                {% if include.description %}{{ include.description }}{% endif %}
            </td>
        </tr></tbody>
    </table>
</div>
