<div class="admonitionblock since">
    <table>
        <tbody><tr>
            <td class="icon">
                <i class="fa fa-code-branch" title="since version"></i>
            </td>
            <td class="content">
                <div class="title">Since {{ include.since }}</div>
                This functionality is available since version {{ include.since }}.
                {% if include.improved %}The functionality was further improved in {% if include.improved.size > 1 %}versions{% else %}version{% endif %} {{ include.improved | join: ", " }}.{% endif %}
                {% if include.description %}{{ include.description }}{% endif %}
            </td>
        </tr></tbody>
    </table>
</div>
