<div class="starfield">
    <a href="/misc/satisfaction-levels/#{{ include.data.score }}">{% include stars.html score=include.data.score %}</a>
    {% if include.data.note or include.data.advantage or include.data.limitation or include.data.improvementPlan %}
    <div>
        <a class="text-smaller" type="button" data-toggle="collapse" href="#stars-details-{{ include.prefix }}-{{ include.id }}" role="button" aria-expanded="false" aria-controls="stars-details-{{ include.id }}">
            Details
        </a>
    </div>
    <div class="collapse" id="stars-details-{{ include.prefix }}-{{ include.id }}">
        {% if include.data.note -%}
        <div class="text-smaller" title="Note">
            <i class="far fa-sticky-note"></i> {{ include.data.note }}
        </div>
        {%- endif %}
        {% if include.data.advantage -%}
        <div class="text-smaller" title="Advantage">
            <i class="fas fa-plus-circle"></i> {{ include.data.advantage }}
        </div>
        {%- endif %}
        {% if include.data.limitation -%}
        <div class="text-smaller" title="Limitation">
            <i class="fas fa-minus-circle"></i> {{ include.data.limitation }}
        </div>
        {%- endif %}
        {% if include.data.improvementPlan -%}
        <div class="text-smaller" title="Improvement plan">
            <i class="fas fa-chart-line"></i> {{ include.data.improvementPlan }}
        </div>
        {%- endif %}
    </div>
    {% endif %}
    {% if include.data.readMore -%}
    <div class="text-smaller" title="Read more">
        <a href="{{ include.data.readMore }}">Read more</a>
    </div>
    {%- endif %}
</div>