<div class="stars text-nowrap" title="Score {{ include.score }}: {{ site.data.satisfaction-levels[include.score].title }}">
    {%- assign stars_full = include.score | divided_by: 2 -%}
    {%- assign half_star = include.score | modulo: 2 -%}
    {%- for i in (1..stars_full) -%}<i class="fas fa-star"></i>{%- endfor -%}
    {%- if half_star == 1 -%}
        <i class="fas fa-star-half-alt"></i>
        {%- assign stars_empty = 4 | minus: stars_full -%}
    {%- else -%}
        {%- assign stars_empty = 5 | minus: stars_full -%}
    {%- endif -%}
    {%- for i in (1..stars_empty) -%}<i class="far fa-star"></i>{%- endfor -%}
</div>
