@charset "utf-8";

.home-container {
}


.home-block {
  float: left;
  width: 45%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 20px;
  border: solid #e0e0e0 1px;

  title {
    display: block;
    color: grey;
    font-weight: bold;
    background: white;
    margin-top: -33px;
    margin-bottom: 20px;
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 5px;
    border: solid #e0e0e0 1px;
    width: 8em;
  }
}

.post-toc {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    background-color: #f8f8f8;
    margin-right: 20px;
    margin-bottom: 20px;
    width: max-content;
    padding-left: 30px;
    padding-right: 30px;

    title {
        display: block;
        font-size: large;
        font-weight: bold;
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 10px;
    }
}

.post-toc-top {
    @extend .post-toc;
    margin-right: 50px;
}

.post-toc-float-right {
    @extend .post-toc;
    float: right;
    margin-left: 50px;
    margin-right: 0px;
    margin-bottom: 40px;
}

.post-toc-float-left {
    @extend .post-toc;
    float: left;
    margin-right: 50px;
    margin-bottom: 40px;
}

.rule {
  float: right;
  width: 30%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: 0px;
  padding: 10px;
  border: solid grey 1px;

  title {
    display: block;
    font-weight: bold;
  }

  title::before {
    content: "Simplified Rule";
    display: block;
    background: white;
    margin-top:-20px;
    margin-left:5px;
    padding-left:5px;
    padding-right:5px;
    border: solid grey 1px;
    width: 8em;
  }
}

hr {
  margin-bottom: 15px;
  margin-left: 40px;
  margin-right: 40px;
  border: 1px solid #ddd;
}

// More dense bullet lists in asciidoc-generated code
li > p {
  margin-bottom: 5px;
}

img.illustration {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 0px;
  width: 40%;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 15px;
}

.copyright {
    float: right;
}

// asciidoc class [.red]
span.red {
    color: rgb(128,0,0);
}

// asciidoc class [.green]
span.green {
    color: rgb(0,128,0);
}

// asciidoc class [.blue]
span.blue {
    color: rgb(0,0,128);
}

div.search-input {
    float:right;
    margin-left: 15px;
}
