---
layout:
title: Glossary (Asciidoc Export)
permalink: /glossary/glossary.adoc
visibility: hidden
---

[glossary]
= Glossary

[glossary]
{%- for term in site.data.glossary %}
[[glossterm-{{ term.id }}]]{{ term.term }}{% if term.acronym %} ({{ term.acronym }}){% endif %}::
  {{ term.description | strip | escape_paragraph: "\n+\n" }}{% if term.midPointDescription %}
+
In midPoint terminology: {{ term.midPointDescription | strip }}{% endif %}{% if term.readMore %}
+
See also link:https://docs.evolveum.com{{ term.readMore }}[more information at docs.evolveum.com].{% endif %}{% if term.alternativeTerms %}
+
Alternative terms: {{ term.alternativeTerms | join: ', ' }}{% endif -%}
{%- if term.iso24760Term %}
+
ISO 24760 term: {{ term.iso24760Term }}{% endif %}{% if term.x1252Term %}
+
X.1252 term: {{ term.x1252Term }}{% endif -%}
{%- if term.seeAlso %}
+
See also: {% capture seeAlsoRaw %}{% for satermid in term.seeAlso %}<<glossterm-{{ satermid }},{% for saterm in site.data.glossary %}{% if saterm.id == satermid %}{{ saterm.term }}{% endif %}{% endfor %}>>, {% endfor %}EnDofMEssAGE{% endcapture %}{{ seeAlsoRaw | remove: ", EnDofMEssAGE" }}
{%- endif %}

{%- endfor %}
