---
layout: page
title: Glossary
permalink: /glossary/
wiki-name: Terminology
display-order: 910
---

<dl>
{% for term in site.data.glossary %}
  <dt><a name="{{ term.id }}">{{ term.term }}</a></dt>
  <dd>{{ term.description | escape }}</dd>
  {% if term.alternativeTerms %}<dd>Alternative terms:
  {% for aterm in term.alternativeTerms %}{{ aterm }}, {% endfor %}
  </dd>{% endif %}
  {% if term.seeAlso %}<dd>See also:
    {% for satermid in term.seeAlso %}<a href="#{{ satermid }}">{% for saterm in site.data.glossary %}{% if saterm.id == satermid %}{{ saterm.term }}{% endif %}{% endfor %}</a>, {% endfor %}
  </dd>{% endif %}
{% endfor %}
</dl>
