---
layout: page
title: Glossary
permalink: /glossary/
wiki-name: Terminology
wiki-id: 655448
wiki-metadata-create-user: semancik
wiki-metadata-create-date: 2011-04-29T12:35:13.134+02:00
wiki-metadata-modify-user: semancik
wiki-metadata-modify-date: 2012-06-25T12:04:31.214+02:00
display-order: 910
---

<dl>
{% for term in site.data.glossary %}
  <dt><a name="{{ term.id }}">{{ term.term }}{% if term.acronym %} ({{ term.acronym }}){% endif %}</a></dt>
  {% if term.description %}<dd>{{ term.description | escape | escape_paragraph: "<br/>" }}</dd>{% endif %}
  {% if term.midPointDescription %}<dd>In midPoint terminology: {{ term.midPointDescription | escape }}</dd>{% endif %}
  {% if term.readMore %}<dd><a href="{{ term.readMore }}">Read more ...</a></dd>{% endif %}
  {% if term.alternativeTerms %}<dd>Alternative terms: {{ term.alternativeTerms | join: ', ' }}
  </dd>{% endif %}
  {% if term.iso24760Term %}<dd>ISO&nbsp;24760 term: {{ term.iso24760Term }}</dd>{% endif %}
  {% if term.x1252Term %}<dd>X.1252 term: {{ term.x1252Term }}</dd>{% endif %}
  {% if term.iso27000Term %}<dd>ISO&nbsp;27000 term: {{ term.iso27000Term }}</dd>{% endif %}
  {% if term.seeAlso %}<dd>See also:
    {% capture seeAlsoRaw %}{% for satermid in term.seeAlso %}<a href="#{{ satermid }}">{% for saterm in site.data.glossary %}{% if saterm.id == satermid %}{{ saterm.term }}{% endif %}{% endfor %}</a>, {% endfor %}EnDofMEssAGE{% endcapture -%}
    {{ seeAlsoRaw | remove: ", EnDofMEssAGE" }}
  </dd>{% endif %}
{% endfor %}
</dl>
