---
layout: page
title: ISO/IEC 24760-1:2019 Terminology
nav-title: ISO 24760-1
---

<p>
    <i>ISO/IEC 24760 IT Security and Privacy — A framework for identity management</i>
    is a series of international standard, that specifies a framework for the issuance, administration, and use of data that serves to characterize individuals,
    organizations or information technology components which operate on behalf of individuals or organizations.
    It specifies fundamental concepts and operational structures of identity management with the purpose to realize information system management so that information systems can meet business, contractual, regulatory and legal obligations.
</p>

<p>
    First part of the series
    (<i>ISO/IEC 24760-1:2019 IT Security and Privacy — A framework for identity management — Part 1: Terminology and concepts</i>)
    specifies the terminology and concepts for identity management, in order to promote a common understanding in the field of identity management.
</p>

<p>
    ISO/IEC 24760 terminology is based on industry practice, and for the vast majority it is consistent with the terminology used by Evolveum.
    Following table summarizes the correspondence of ISO/IEC 24760 and Evolveum terms.
</p>

<table class="table">
    <thead>
        <tr><th scope="col">ISO 24760 Term</th><th scope="col">Evolveum Term</th></tr>
    </thead>
    <tbody>
{% assign terms = site.data.glossary | sort: "iso24760Term" %}
{% for term in terms %}
  {% if term.iso24760Term %}
    <tr>
        <td>{{ term.iso24760Term }}</td>
        <td><a href="/glossary#{{ term.id }}">{{ term.term }}{% if term.acronym %} ({{ term.acronym }}){% endif %}</a></td>
    </tr>
  {% endif %}
{% endfor %}
    </tbody>
</table>
