---
layout: page
title: ISO/IEC 27000:2022 Terminology
nav-title: ISO 27000
---

<p>
    <i>ISO/IEC 27000 Information technology - Security techniques - Information security management systems</i>
    is a series of international standard specifying best practice on information security management systems (ISMS).
    It describes management of information risks through information security controls.
</p>

<p>
    First part of the series
    (<i>ISO/IEC 27000:2022 Information technology - Security techniques - Information security management systems - Overview and  vocabulary</i>)
    specifies the terminology and concepts for ISMS, in order to promote a common understanding of cybersecurity management concepts.
</p>

<p>
    Vast majority of ISO/IEC 27000 vocabulary is consistent with the terminology used by Evolveum.
    Following table summarizes the correspondence of ISO/IEC 27000 and Evolveum terms.
</p>

<table class="table">
    <thead>
        <tr><th scope="col">ISO 27000 Term</th><th scope="col">Evolveum Term</th></tr>
    </thead>
    <tbody>
{% assign terms = site.data.glossary | sort: "iso27000Term" %}
{% for term in terms %}
  {% if term.iso27000Term %}
    <tr>
        <td>{{ term.iso27000Term }}</td>
        <td><a href="/glossary#{{ term.id }}">{{ term.term }}{% if term.acronym %} ({{ term.acronym }}){% endif %}</a></td>
    </tr>
  {% endif %}
{% endfor %}
    </tbody>
</table>
