---
layout: page
title: Future Talks
permalink: /talks/future/
---

<dl>
{% for talk in site.data.talks %}
    {% if talk.future == true %}
  <dt><a href="/talks/files/{{ talk.slidesFile }}">{{ talk.title }}</a>
  </dt>
  <dd>
        {{ talk.date }}, {{ talk.author }},
        {% if talk.eventUrl %}<a href="{{ talk.eventUrl }}">{% endif %}{{talk.event}}{% if talk.eventUrl %}</a>{% endif %}{% if talk.description %}:{% endif %}
        {{ talk.description }}</dd>
    {% endif %}
{% endfor %}
</dl>
