---
layout: page
title: Talks
permalink: /talks/
display-order: 900
---

<dl>
{% for talk in site.data.talks %}
    {% if talk.future != true %}
  <dt><a href="files/{{ talk.slidesFile }}">{{ talk.title }}</a>
      {% if talk.videoUrl %}<a href="{{ talk.videoUrl }}">[video]</a>{% endif %}
  </dt>
  <dd>
        {{ talk.date }}, {{ talk.author }},
        {% if talk.eventUrl %}<a href="{{ talk.eventUrl }}">{% endif %}{{talk.event}}{% if talk.eventUrl %}</a>{% endif %}{% if talk.description %}:{% endif %}
        {{ talk.description }}</dd>
    {% endif %}
{% endfor %}
</dl>
