---
layout: page
title: MidPoint Roadmap
nav-title: Roadmap
wiki-name: Roadmap
wiki-id: 1081354
wiki-metadata-create-user: semancik
wiki-metadata-create-date: 2011-05-04T20:14:35.327+02:00
wiki-metadata-modify-user: semancik
wiki-metadata-modify-date: 2021-02-03T11:11:07.222+01:00
display-order: 80
upkeep-status: yellow
---

{% for v in site.data.midpoint-versions %}
    {% if v.status == null or v.status == "released" %}
        {% if v.type != "maintenance" %}
            {% assign lastReleasedVersion = v %}
        {% endif %}
    {% endif %}
    {% if v.status == "development" and v.type != "maintenance" %}
        {% assign developmentVersion = v %}
    {% endif %}
{% endfor %}


<table class="roadmap">

    <tr>
        <th class="released">{% include midpoint-version.html version=lastReleasedVersion %}<br>RELEASED</th>
        <th class="development">{% include midpoint-version.html version=developmentVersion %}<br>DEVELOPMENT</th>
{% for v in site.data.midpoint-versions %}
    {% if v.status == "planned" and v.type != "maintenance" %}
        <th class="planned">{% include midpoint-version.html version=v %}<br>PLANNED</th>
    {% endif %}
{% endfor %}
    </tr>

    <tr>
        <th class="released">{% if lastReleasedVersion.plannedReleaseDate %}{{ lastReleasedVersion.plannedReleaseDate | date: "%d %B %Y" }}{% else %}{{ lastReleasedVersion.plannedReleaseTimeFrame }}{% endif %}</th>
        <th class="development">{% if developmentVersion.plannedReleaseDate %}{{ developmentVersion.plannedReleaseDate | date: "%d %B %Y" }}{% else %}{{ developmentVersion.plannedReleaseTimeFrame }}{% endif %}</th>
{% for v in site.data.midpoint-versions %}
    {% if v.status == "planned" and v.type != "maintenance" %}
        <th class="planned">{% if v.plannedReleaseDate %}{{ v.plannedReleaseDate | date: "%d %B %Y" }}{% else %}{{ v.plannedReleaseTimeFrame }}{% endif %}</th>
    {% endif %}
{% endfor %}
    </tr>

    <tr>
        <td class="released">{% include roadmap-content.html version=lastReleasedVersion %}</td>
        <td class="development">{% include roadmap-content.html version=developmentVersion %}</td>
{% for v in site.data.midpoint-versions %}
    {% if v.status == "planned" and v.type != "maintenance" %}
        <td class="planned">{% include roadmap-content.html version=v %}</td>
    {% endif %}
{% endfor %}
    </tr>

</table>

<ul class="roadmap-legend">
    <li>LTS: <a href="/support/long-term-support/">Long-term support</a> release.</li>
    <li>SPONSORED: feature that was funded by midPoint customer/partner or a free slot available for sponsored feature (see below)</li>
    <li>SUBSCRIPTION: feature that was funded by midPoint platform subscription (see below)</li>
    <li>CONTRIBUTED: significant portion of this feature was developed by a third party and contributed to midPoint project</li>
    <li><a href="https://evolveum.com/evolveum-awarded-vaia-grant-for-ai-powered-iga/">VAIA</a>: Funded by the <a href="https://next-generation-eu.europa.eu/">European Union</a> through the <a href="https://www.planobnovy.sk/">Recovery and Resilience Plan of the Slovak Republic.</a></li>
    <p>
       <img src="/assets/images/funded-by-the-eu-next-generation-logo.png" style="height:100px"/>
       <img src="/assets/images/recovery-and-resilience-plan-logo.png" style="height:100px"/>
    </p>

</ul>



<h3>Maintenance Releases</h3>

<table class="tableblock frame-all grid-all fit-content">

    <thead>
        <tr>
            <th class="tableblock halign-left valign-top">Version</th>
            <th class="tableblock halign-left valign-top">Planned Release Date</th>
        </tr>
    </thead>

    <tbody>
    {% for v in site.data.midpoint-versions %}
        {% if v.status == "planned" or v.status == "development" %}
            {% if v.type == "maintenance" %}
                {% if v.plannedReleaseDate %}
                    <tr><td class="tableblock halign-left valign-top">{% include midpoint-version.html version=v %}</td><td class="tableblock halign-left valign-top">{{ v.plannedReleaseDate | date: "%d %B %Y" }}</td></tr>
                {% elsif v.plannedReleaseTimeFrame %}
                    <tr><td class="tableblock halign-left valign-top">{% include midpoint-version.html version=v %}</td><td class="tableblock halign-left valign-top">{{ v.plannedReleaseTimeFrame }}</td></tr>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
    </tbody>

</table>


<h3>Disclaimer</h3>

<p><strong>Do not depend on the roadmap.</strong></p>

<p>
    Even though we are trying really hard to make this plan as precise as possible, it is still just a <em>plan</em>.
    It may change at any moment.
    The roadmap is driven by our internal priorities influenced by <a href="/midpoint/support/subscription-sponsoring/">platform subscribers</a>, sponsors and other funding sources.
    Also, there are other things that can influence the roadmap, such as unexpected maintenance work, surge in support effort, security issues and so on.
    The roadmap is dynamic, and even the plan for currently-developer release may change just before release.
</p>

<p>
    Even if a feature is already marked as SUBSCRIPTION, it does not mean that it will be developed precisely as planned.
    The plan can still change.
    Subscriber or sponsor that is funding development of the feature may re-prioritize.
    The scope may change to adapt to changed requirements.
    Anything may happen.
    The only reliable way how to make sure that you can depend on this plan is to secure a <a href="/midpoint/support/subscription-sponsoring/">platform subscription</a> and set your own priorities and dates for the features that you depend on.
</p>

<h2>Rolling Wave</h2>

<p>
    MidPoint development process is quite agile, the development priorities of midPoint project are dynamic.
    The roadmap is mostly influenced by midPoint <a href="/midpoint/support/subscription-sponsoring/">subscribers</a>, sponsors, public funding, contributors and market trends.
    Circumstances may change at any moment.
    Therefore, midPoint project is planned as a rolling wave:
</p>
<ul>
    <li>We have quite a precise plan for the next release.</li>
    <li>We have a rough feature development plan for following few releases (see above).</li>
    <li>We have a vision where to take the project in a decade or so.</li>
</ul>
<p>
    As the project rolls out the plan is also made more precise.
    The plan is reviewed before the development of each new release starts.
</p>

<h2>Influencing Roadmap</h2>

<p>
    MidPoint is an open source product developed by professional developers.
    This approach brings unique combination of software freedom and quality.
    Though the fact midPoint being open source, engaging full time expert development team needs sustainable funding.
    This <b>funding comes from midPoint subscriptions</b>.
</p>

<p>
    The roadmap is governed mostly by the people that support midPoint project, either financially or by contributing work.
    Therefore, if you need to influence priorities of midPoint development, please consider a purchase of a <a href="/midpoint/support/subscription-sponsoring/">subscription</a> or lending a helping hand.
    If you want help by investing your time and brains, please see <a href="/community">community section of this site</a>.
</p>
