---
layout: page
title: MidPoint Roadmap
nav-title: Roadmap
display-order: 200
visibility: hidden
---

{% for v in site.data.midpoint-versions %}
    {% if v.status == null or v.status == "released" %}
        {% if v.type != "maintenance" %}
            {% assign lastReleasedVersion = v %}
        {% endif %}
    {% endif %}
    {% if v.status == "development" %}
        {% assign developmentVersion = v %}
    {% endif %}
{% endfor %}


<table class="roadmap">

    <tr>
        <th class="released">{% include midpoint-version.html version=lastReleasedVersion %}<br>RELEASED</th>
        <th class="development">{% include midpoint-version.html version=developmentVersion %}<br>DEVELOPMENT</th>
{% for v in site.data.midpoint-versions %}
    {% if v.status == "planned" %}
        <th class="planned">{% include midpoint-version.html version=v %}</th>
    {% endif %}
{% endfor %}
    </tr>

    <tr>
        <th class="released">{{ lastReleasedVersion.plannedReleaseTimeFrame }}</th>
        <th class="development">{{ developmentVersion.plannedReleaseTimeFrame }}</th>
{% for v in site.data.midpoint-versions %}
    {% if v.status == "planned" %}
        <th class="planned">{{ v.plannedReleaseTimeFrame }}</th>
    {% endif %}
{% endfor %}
    </tr>

    <tr>
        <td class="released">{% include roadmap-content.html version=lastReleasedVersion %}</td>
        <td class="development">{% include roadmap-content.html version=developmentVersion %}</td>
{% for v in site.data.midpoint-versions %}
    {% if v.status == "planned" %}
        <td class="planned">{% include roadmap-content.html version=v %}</td>
    {% endif %}
{% endfor %}
    </tr>

</table>
