---
layout: page
title: MidPoint Roadmap
nav-title: Roadmap
display-order: 80
---

{% for v in site.data.midpoint-versions %}
    {% if v.status == null or v.status == "released" %}
        {% if v.type != "maintenance" %}
            {% assign lastReleasedVersion = v %}
        {% endif %}
    {% endif %}
    {% if v.status == "development" %}
        {% assign developmentVersion = v %}
    {% endif %}
{% endfor %}


<table class="roadmap">

    <tr>
        <th class="released">{% include midpoint-version.html version=lastReleasedVersion %}<br>RELEASED</th>
        <th class="development">{% include midpoint-version.html version=developmentVersion %}<br>DEVELOPMENT</th>
{% for v in site.data.midpoint-versions %}
    {% if v.status == "planned" %}
        <th class="planned">{% include midpoint-version.html version=v %}<br>PLANNED</th>
    {% endif %}
{% endfor %}
    </tr>

    <tr>
        <th class="released">{{ lastReleasedVersion.plannedReleaseTimeFrame }}</th>
        <th class="development">{{ developmentVersion.plannedReleaseTimeFrame }}</th>
{% for v in site.data.midpoint-versions %}
    {% if v.status == "planned" %}
        <th class="planned">{{ v.plannedReleaseTimeFrame }}</th>
    {% endif %}
{% endfor %}
    </tr>

    <tr>
        <td class="released">{% include roadmap-content.html version=lastReleasedVersion %}</td>
        <td class="development">{% include roadmap-content.html version=developmentVersion %}</td>
{% for v in site.data.midpoint-versions %}
    {% if v.status == "planned" %}
        <td class="planned">{% include roadmap-content.html version=v %}</td>
    {% endif %}
{% endfor %}
    </tr>

</table>

<ul class="roadmap-legend">
    <li>SPONSORED: feature that was funded by midPoint customer/partner or a free slot available for sponsored feature (see below)</li>
    <li>SUBSCRIPTION: feature that was funded by midPoint platform subscription (see below)</li>
    <li>CONTRIBUTED: significant portion of this feature was developed by a third party and contributed to midPoint project</li>
    <li>NGI: funded by <a href="https://www.ngi.eu/">Next Generation Internet</a> initiative</li>
    <li>LTS: Long-term support release. See Long-Term Support.</li>
</ul>

<h3>Disclaimer</h3>

<p>
    Even though we are trying really hard to make this plan as precise as possible, it is still just a plan.
    It can change at any moment.
    It is not recommended to depend on any features in this roadmap.
    The roadmap is driven by the priorities given to us by <a href="/midpoint/support/subscription-sponsoring/">platform subscribers</a>.
    There are also other things that can influence the roadmap, such as unexpected maintenance work, surge in support effort, security issues and so on.
    The roadmap is dynamic, and even the plan for currently-developer release may change as late as few weeks before release.
</p>

<p>
    Even if a feature is already marked as SUBSCRIPTION, it does not mean that it will be developed precisely as planned.
    The plan can still change.
    Subscriber that is sponsoring this feature may re-prioritize.
    The scope may change to adapt to subscriber's changed requirements.
    Or we may negotiate planning changes with that subscriber and the feature may be re-planned.
    The only reliable way how to make sure that you can depend on this plan is to secure a <a href="/midpoint/support/subscription-sponsoring/">platform subscription</a> and set your own priorities and dates for the features that you depend on.
</p>

<h2>Rolling Wave</h2>

<p>
    MidPoint development process is considerably agile and the development priorities of midPoint project are dynamic.
    The roadmap is mostly influenced by midPoint <a href="/midpoint/support/subscription-sponsoring/">subscribers</a> and contributors.
    MidPoint project is planned in a rolling wave:
</p>
<ul>
    <li>We have quite a precise plan for the next release.</li>
    <li>We have a feature development plan for following few releases (see above).</li>
    <li>We have rough plan for next few years and we have a vision where to take the project in a decade or so.</li>
</ul>
<p>
    As the project rolls out the plan is also made more precise.
    The plan is reviewed before each new release starts, which is usually twice a year.
</p>

<h2>Influencing Roadmap</h2>

<p>
    The roadmap is governed mostly by the people that support midPoint project, either financially or by contributing work.
    Therefore if you need to influence priorities of midPoint development, please consider a purchase of a <a href="/midpoint/support/subscription-sponsoring/">subscription</a> or lending a helping hand.
    Each midPoint release has a reserved capacity for platform <b>subscribers’ features</b>.
    If you want help by investing your time and brains, please see <a href="/community">community section of this site</a>.
</p>

<p>
    MidPoint is an open source product developed by expert developers.
    This approach brings unique combination of software freedom and quality.
    Though the fact midPoint being open source, engaging full time expert development team needs sustained funding.
    This <b>funding comes from midPoint subscriptions</b>.
    MidPoint subscribers requiring premium support package activate Platform subscription.
    They may use it for requiring specific features to be placed on the roadmap and developed in the product.
    Once active Platform subscription is in place, based on the agreement with particular customer reflecting availability feature gets its particular roadmap slot.
</p>

<p>
    As a consequence, subscriber feature slots cannot be filled in by community feature requests otherwise midPoint development funding would be at risk.
    Therefore if you depend on a specific roadmap feature please consider purchasing midPoint Platform subscription and use it to ensure the feature is placed on the roadmap.
</p>

<p>
    Please note that the privilege to influence midPoint roadmap is included only in some of midPoint subscription programs.
    Platform subscription offering is designed especially for this purpose.
</p>

<p>
    Except for subscriber features the Evolveum company invests into one or two major features or architectural improvements in each release. This investment is to make sure that the quality of the midPoint architecture increases and that midPoint will continually gain new progressive features.
    This helps midPoint to maintain its status of state-of-the-art identity management system.
</p>
