---
layout: page
title: ISO27001 Compliance
nav-title: ISO27001
upkeep-status: green
---

<!-- TODO: intro -->

<table class="tableblock frame-all grid-all fit-content">

    <thead>
        <tr>
            <th class="tableblock halign-left valign-top">Control ID</th>
            <th class="tableblock halign-left valign-top">Control Name</th>
            <th class="tableblock halign-left valign-top">Necessity</th>
            <th class="tableblock halign-left valign-top">Features</th>
        </tr>
    </thead>

    <tbody>
    {% for c in site.data.compliance-iso27001 %}
        <tr>
            <td class="tableblock halign-left valign-top">{{ c.id }}</td>
            <td class="tableblock halign-left valign-top">{{ c.title }}</td>
            <td class="tableblock halign-left valign-top">{{ c.necessity }}</td>
            <td class="tableblock halign-left valign-top">{% include feature-list.html features=c.features %}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>
