#autocombox {
    opacity: 1;
    list-style-type: none;
    width:205px;
	position: absolute;
    top: -40px;
    right: 80px;
    z-index: 100;
    border: 1px solid #000;
    display: none;
}

.searchResult {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.font1 {
    font-size: 0.9em;
}

.font2 {
    font-size: 0.7em;
}

.notShown {
    font-size: 0.78em;
    font-style: italic;
    text-align: center;
    color: #606060;
}



