#autocombox {
    list-style-type: none;
}

.searchResult {
    border: 2px solid #000;
    border-radius: 5px;
   padding: 5px;
   margin: 10px;
}

.font1 {
   font-size: 0.9em;
}

.font2 {
   font-size: 0.7em;	
}

.notShown {
   font-size: 0.78em;
   font-style: italic;
   text-align: center;
   color: #606060;
}

.modal-dialog {
   margin-right: 0;
}




