---
layout: page
title: Unsupported Identity Connectors
nav-title: Unsupported Connectors
wiki-name: Legacy Identity Connectors
wiki-id: 34570289
wiki-metadata-create-user: semancik
wiki-metadata-create-date: 2019-07-09T10:21:13.374+02:00
wiki-metadata-modify-user: semancik
wiki-metadata-modify-date: 2019-09-10T09:41:46.632+02:00
upkeep-status: orange
---

<p>
    This is a list of unsupported identity connectors.
    These connectors are considered to be legacy.
    The code is abandoned, the development and maintenance activities are stopped.
    This information is kept for historical reasons only.
</p>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Connector</th>
        <th scope="col">Origin</th>
        <th scope="col">Target systems</th>
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    {% assign cpages = site.pages | sort: "display-order" %}
    {% for cpage in cpages %}
    {% if cpage.layout == 'connector-page' and cpage.support-status == 'unsupported' %}
    <tr>
        <th  scope="row"><a href="{{cpage.url}}">{{cpage.title}}</a></th>
        <td>{{cpage.origin}}</td>
        <td>{{cpage.target-systems}}</td>
        <td>{{cpage.description | escape}}</td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>