---
layout: page
title: Identity Connectors
display-order: 20
upkeep-status: orange
visibility: hidden
---

<p>
    This is a list of identity connectors that work with midPoint.
</p>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Connector</th>
        <th scope="col">Status</th>
        <th scope="col">Maintained by (Origin)</th>
        <th scope="col">Target systems</th>
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    {% assign cpages = site.pages | sort: "display-order" %}
    {% for cpage in cpages %}
    {% if cpage.layout == 'connector-page' %}
    <tr>
        <th  scope="row"><a href="{{cpage.url}}">{{cpage.title}}</a></th>
        <td>{{cpage.support-status}}</td>
        <td>{{cpage.origin}}</td>
        <td>{{cpage.target-systems}}</td>
        <td>{{cpage.description | escape}}</td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
