---
layout: page
title: List of Identity Connectors
nav-title: Connectors
display-order: 20
wiki-name: Identity Connectors
wiki-metadata-create-user: mamut
wiki-metadata-create-date: 2011-09-27T10:34:24.739+02:00
wiki-metadata-modify-user: ifarinic
wiki-metadata-modify-date: 2021-03-09T15:46:58.004+01:00
upkeep-status: yellow
---

<p>
    This table summarizes the connectors for use with midPoint.
    Some of those connectors are used routinely, other are used occasionally and some of those are experimental connectors in development.
    This table provides information from our (Evolveum) point of view.
</p>

{% assign cpages = site.pages | where: "layout","connector-page" | where_exp: "i","i.support-status != 'unsupported' and i.bundling != 'builtin'" %}
{% include connector-table.html pages = cpages %}

<h2>Built-In Connectors</h2>

{% assign cpages = site.pages | where: "layout","connector-page" | where_exp: "i","i.support-status != 'unsupported' and i.bundling == 'builtin'" %}
{% include connector-table.html pages = cpages %}

<!-- TODO: built-in connectors -->

<h2>See Also</h2>
<ul>
    <li><a href="support/">Connector support</a></li>
    <li><a href="/connectors/legacy/connectors/">List of unsupported (legacy) identity connectors</a></li>
</ul>