---
layout: page
title: IGA Capabilities Summary
display-order: 900
visibility: hidden
---


<table class="table">
    <thead>
    <tr>
        <th scope="col">Capability</th>
        <th scope="col">Function</th>
        <th scope="col">Description</th>
        <th scope="col">Capability in midPoint 4.4 (current)</th>
        <th scope="col">Capability in midPoint 5.0 (planned)</th>
        <th scope="col">Eventual midPoint ambition</th>
        <th scope="col" class="text-gray">Average capability in industry<a href="#note1"><sup>*</sup></a></th>
        <th scope="col" class="text-gray">Best capability in industry<a href="#note1"><sup>*</sup></a></th>
    </tr>
    </thead>
    <tbody>
    {% assign last_cap_id = "" %}
    {% for capability in site.data.iga-capabilities %}
        {% for function in capability.functions %}
            <tr>
                {% if last_cap_id != capability.id %}
                    <td rowspan="{{ capability.functions.size }}"><a href="{{ capability.link }}">{{ capability.title }}</a></td>
                    {% assign last_cap_id = capability.id %}
                {% endif %}
                <td>{{ function.title }}</td>
                <td class="text-gray text-smaller">{{ function.description }}</td>
                <td>{% include starfield.html prefix="midpoint" id=function.id data=function.implementation.midpoint %}</td>
                <td>{% include starfield.html prefix="midpoint5" id=function.id data=function.implementation.midpoint5 %}</td>
                <td>{% include starfield.html prefix="midpoint-ambition" id=function.id data=function.implementation.midpoint-ambition %}</td>
                <td class="text-gray">{% include starfield.html prefix="industry-average" id=function.id data=function.implementation.industry-average %}</td>
                <td class="text-gray">{% include starfield.html prefix="industry-best" id=function.id data=function.implementation.industry-best %}</td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>

<p>
    <a name="note1">*</a>
    Most IGA platforms in the industry are closed-source software.
    Almost all the platforms are jealously guarded.
    It is almost impossible to get unlimited access to evaluation versions, documentation, or even a demo of the platform.
    Most of the information published by the vendors is marketing in nature.
    There is very limited amount of available technical documentation.
    This makes it very difficult to make any reliable evaluation of vast majority of IGA platforms, even for experienced IGA experts.
    Therefore please take the evaluation for what it really is: not much more than a wild guess.
</p>
