---
layout: page
---
<p>
    {{ page.description }}
</p>
<table class="table synopsis-table">
    <tbody>
    <tr><td>Support status</td><td>{{page.support-status | escape}}</td></tr>
    <tr><td>Origin</td><td>{{page.origin | escape}}</td></tr>
    <tr><td>Support provided by</td><td>{{page.support-provided-by | escape}}</td></tr>
    <tr><td>Target systems</td><td>{{page.target-systems | escape}}</td></tr>
    <tr><td>Protocols</td><td>{{page.connector-protocol | escape}}</td></tr>
    <tr><td>Source code</td><td><a href="{{page.source-url-release}}">source</a></td></tr>
    </tbody>
</table>


{{ content }}

