---
layout: default
---
{% comment %} THIS TEMPLATE NEES UPDATING TO A NEW DESIGN {% endcomment %}
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }} {{page.version | escape}}</h1>
  </header>

  <div class="post-content">

    <table class="synopsis-table">
      <tbody>
      <tr><td>Version</td><td>{{page.version | escape}}</td></tr>
      <tr><td>Release date {% if page.releaseStatus == 'SNAPSHOT' %}(planned){% endif %}</td><td>{{page.releaseDate | escape}}</td></tr>
      <tr><td>Release status</td><td>{{page.releaseStatus | escape}}</td></tr>
      <tr><td>Origin</td><td>{{page.origin | escape}}</td></tr>
      <tr><td>Framework version</td><td>{{page.frameworkVersion | escape}}</td></tr>
      <tr><td>Bundle name</td><td>{{page.bundleName | escape}}</td></tr>
      <tr><td>Connector name</td><td>{{page.connectorName | escape}}</td></tr>
      <tr><td>Binary download</td><td><a href="{{cpage.binaryUrlJar}}">jar</a></td></tr>
      <tr><td>Source code</td><td><a href="{{cpage.sourceUrlRelease}}">source</a></td></tr>
      </tbody>
    </table>

    {{ content }}

  </div>

</article>
