---
layout: page
---
    <table class="table synopsis-table">
      <tbody>
      <tr><td>Version</td><td>{{page.version | escape}}</td></tr>
      <tr><td>Release date {% if page.release-status == 'SNAPSHOT' %}(planned){% endif %}</td><td>{{page.release-date | escape}}</td></tr>
      <tr><td>Release status</td><td>{{page.release-status | escape}}</td></tr>
      <tr><td>Origin</td><td>{{page.origin | escape}}</td></tr>
      <tr><td>Framework version</td><td>{{page.framework-version | escape}}</td></tr>
      <tr><td>Bundle name</td><td>{{page.bundle-name | escape}}</td></tr>
      <tr><td>Connector name</td><td>{{page.connector-name | escape}}</td></tr>
      <tr><td>Source code</td><td><a href="{{page.source-url-master}}">source</a></td></tr>
      </tbody>
    </table>

    {{ content }}
