---
layout: page
---
<p>
    {{ page.description }}
</p>
<table class="table synopsis-table">
    <tbody>
    {% if page.functionality-status %}<tr><td>Functionality</td><td>{{page.functionality-status | escape}}</td></tr>{% endif %}
    {% if page.development-status %}<tr><td>Development status</td><td>{{page.development-status | escape}} {% if site.data.connector-development-status[page.development-status]["description"] %}({{ site.data.connector-development-status[page.development-status]["description"] }}){% endif %}</td></tr>{% endif %}
    <tr><td>Support status</td><td>{{page.support-status | escape}}</td></tr>
    <tr><td>Origin</td><td>{{page.origin | escape}}</td></tr>
    <tr><td>Support provided by</td><td>{{page.support-provided-by | escape}}</td></tr>
    <tr><td>Target systems</td><td>{{page.target-systems | escape}}</td></tr>
    {% if page.connector-protocol %}<tr><td>Protocol</td><td>{{page.connector-protocol | escape}}</td></tr>{% endif %}
    <tr><td>Source code</td><td><a href="{{page.source-url-master}}">{{page.source-url-master}}</a></td></tr>
    {% if page.documentation-link %}<tr><td>Documentation</td><td><a href="{{page.documentation-link}}">{{page.documentation-link}}</a></td></tr>{% endif %}
    </tbody>
</table>


{{ content }}
