---
layout: default
---
{% comment %} Layout for midPoint exercise page {% endcomment %}
<div class="row">
	<div class="d-none d-md-block col-md-3">
		<div class="navtree">
			{% navtree %}
		</div>
	</div>
	<div class="col-md-9 col-sm-12">
		<nav aria-label="breadcrumb">{% breadcrumbs %}</nav>

		<h1>Exercise {{ page.number }}: {{ page.title | escape }}</h1>

		<table class="table synopsis-table">
			<tbody>
			<tr><th scope="row">Difficulty</th><td>{{page.difficulty | escape}}</td></tr>
			<tr><th scope="row">Book reference</td><td>{{page.bookref | join: ", " | escape}}</td></tr>
			<tr><th scope="row">Training reference</td><td>{{page.trainingref | join: ", " | escape}}</td></tr>
			</tbody>
		</table>

		<h2>Synopsis</h2>

		{{ page.synopsis | escape}}

		{{ content }}

		{% if page.files %}
		<h2>Files</h2>
		<ul>
			{% for filename in page.files %}
			<li><a href="{{filename}}">{{filename | escape}}</a></li>
			{% endfor %}
		</ul>
		{% endif %}

	</div>
</div>
