---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">Exercise {{ page.number }}: {{ page.title | escape }}</h1>
  </header>

  <div class="post-content">

	<table class="synopsis-table">
	  <tbody>
	    <tr><td>Difficulty</td><td>{{page.difficulty | escape}}</td></tr>
	    <tr><td>Book reference</td><td>{{page.bookref | join: ", " | escape}}</td></tr>
      <tr><td>Training reference</td><td>{{page.trainingref | join: ", " | escape}}</td></tr>
	  </tbody>
	</table>

	<h2>Synopsis</h2>

	{{ page.synopsis | escape}}

	{{ content }}

	{% if page.files %}
	<h1>Files</h1>
	<ul>
	  {% for filename in page.files %}
	    <li><a href="{{filename}}">{{filename | escape}}</a></li>
	  {% endfor %}
	</ul>
	{% endif %}

  </div>

</article>
