---
layout: page
---
{% comment %}
    Layout for page describing IGA capability.
    It lists relevant IGA functions and corresponding midPoint features.
{% endcomment %}

{% for cap in site.data.iga-capabilities %}
    {% if cap.id == page.iga-capability %}
        {% assign igaCapability = cap %}
    {% endif %}
{% endfor %}

{{ content }}

<div class="sect1">
    <h2 id="relevant-midpoint-features">Relevant MidPoint Features</h2>
    <div class="sectionbody">

        <table class="tableblock frame-all grid-all fit-content">
            <colgroup>
                <col>
                <col>
            </colgroup>
            <thead>
            <tr>
                <th class="tableblock halign-left valign-top">IGA Function</th>
                <th class="tableblock halign-left valign-top">MidPoint Features</th>
            </tr>
            </thead>
            <tbody>

            {% for func in igaCapability.functions %}

            <tr>
                <td class="tableblock halign-left valign-top"><p class="tableblock">{{ func.title }}</p></td>
                <td class="tableblock halign-left valign-top"><p class="tableblock">
                    {% for f in site.data.midpoint-features %}
                        {% if f.igaFunctions contains func.id %}{% include feature-link.html feature=f %}<br/>{% endif %}
                    {% endfor %}
                </td>
            </tr>

            {% endfor %}

            </tbody>
        </table>

    </div>
</div>
