---
layout: default
---
{% comment %} Layout for personal page (/people/...) {% endcomment %}
<div class="row">
	<div class="d-none d-md-block col-md-3">
		<div class="navtree">
			{% navtree %}
		</div>
	</div>
	<div class="col-md-9 col-sm-12">
        {% if page.photo %}<img class="personal-photo" src="{{ page.photo }}">{% endif %}

        <nav aria-label="breadcrumb">{% breadcrumbs %}</nav>

        <h1>{{ page.title | escape }}</h1>
        {% if page.job-title %}<div class="subtitle">{{ page.job-title }}</div>{% endif %}


		{{ content }}

		<h2>Links</h2>
		<ul class="personal-links">
            {% if page.profile-github %}<li><a href="https://github.com/{{page.profile-github}}"><i class="fab fa-github"></i> {{page.profile-github | escape}}</a></li>{% endif %}
            {% if page.profile-twitter %}<li><a href="https://twitter.com/{{page.profile-twitter}}"><i class="fab fa-twitter"></i> @{{page.profile-twitter | escape}}</a></li>{% endif %}
            {% if page.profile-linkedin-url %}<li><a href="{{profile-linkedin-url}}"><i class="fab fa-linkedin-in"></i> {{page.title | escape}}</a></li>{% endif %}
            {% if page.evolveum-blog %}<li><a href="{{page.evolveum-blog}}"><i class="fas fa-rss"></i></i> {{page.title | escape}} at Evolveum blog</a></li>{% endif %}
		</ul>

	</div>
</div>
