---
layout: page
---
{% comment %}
    Layout for midPoint release pages, release version is in release-version page variable
    This is a skeleton page layout, only the most essential things are here.
    This layout is used both for legacy release and current releases.
    Current releases are building on top of this layout (see "release" layout)
{% endcomment %}

{% for v in site.data.midpoint-versions %}
    {% if v.version == page.release-version %}
        {% assign this = v %}
    {% endif %}
    {% if v.status == null or v.status == "released" %}
        {% assign lastReleased = v %}
    {% endif %}
{% endfor %}

{% if this.status != null and this.status != "released" %}
    {% capture latestStableVersionWarning %}
        This is a planned release.
        It is not complete yet.
        Therefore the information presented here is likely to be incomplete and inaccurate.
        For information regarding the latest stable release please see <a href="/midpoint/release/{{ lastReleasedVersion.version }}">MidPoint {% include midpoint-version.html version=lastReleased %}</a>.
    {% endcapture %}
    {% include admonition.html type="warning" content=latestStableVersionWarning %}
{% endif %}

{{ content }}
