---
layout: release-skeleton
---
{% comment %}
    Layout for midPoint release pages, release version is in release-version page variable
    This is a complete layout for current releases.
{% endcomment %}
{% for v in site.data.midpoint-versions %}{% if v.version == page.release-version %}{% assign this = v %}{% endif %}{% endfor %}

{{ content }}


<div class="sect1">
    <h2 id="credits">Credits</h2>
    <div class="sectionbody">
        <div class="paragraph">
            <p>
                Majority of the work on the <i>{{ this.codeName }}</i> release was done by the Evolveum team.
                However, this release would not be possible without the help of our partners, customers, contributors, friends and families.
                We would like to express our thanks to all the people that contributed to the midPoint project both by providing financial support, their own time or those that maintain a pleasant and creative environment for midPoint team.
                However, midPoint project would not exist without proper funding.
                Therefore we would like to express our deepest gratitude to all midPoint subscribers that made midPoint project possible.
            </p>
        </div>
    </div>
</div>

<div class="sect1">
    <h2 id="credits">Disclaimer</h2>
    <div class="sectionbody">
        <div class="paragraph">
            <p>
                Planned release dates are just that: they are planned.
                We do not promise or guarantee release dates.
                Software development is a creative activity that includes a lot of inherent risk.
                We are trying really hard to provide the best estimates.
                We are not able to provide precise dates for releases or deliveries.
                <b>Do not rely on midPoint release dates</b>.
                Plan your project properly to address the risk of delayed midPoint releases.
            </p>
        </div>
        <div class="paragraph">
            <p>
                Planned scope of midPoint releases is also an estimate.
                MidPoint development process always includes the balancing of the <a href="https://en.wikipedia.org/wiki/Project_management_triangle">iron triangle</a>.
                Therefore planned release scope may change at any time.
                There is a method to make sure that midPoint releases will work well for your project and that method is <a href="/midpoint/support/subscription-sponsoring/">platform subscription</a>.
            </p>
        </div>
        <div class="paragraph">
            <p>
                We do not make any claims that midPoint is perfect.
                Quite the contrary.
                MidPoint is a practical software, developed by living and breathing developers and deployed in a real world.
                There are both known and unknown issues in midPoint.
                Also, midPoint is not feature-complete.
                New features are introduced in midPoint all the time.
                But not all of them are completed.
                There are always some limitations.
                As the license states, midPoint is provided "AS IS".
                Please do not rely on midPoint functionality that you have not tested to make sure that it works.
                MidPoint <a href="/midpoint/support/subscription-sponsoring/">support and subscription programs</a> are a way how to handle those issues.
                But even with support service, do not rely on functionality that is not documented.
                If you plan to use undocumented or non-existing functionality, <a href="/midpoint/support/subscription-sponsoring/">platform subscription</a> is the right service for you.
            </p>
        </div>
    </div>
</div>




