---
layout: page
---
{% comment %} Layout for midPoint release installation guide, for midPoint 4.4 and later. release version is in release-version page variable {% endcomment %}

{% for v in site.data.midpoint-versions %}{% if v.version == page.release-version %}{% assign this = v %}{% endif %}{% endfor %}

<div class="sect1">
    <h2 id="credits">Introduction</h2>
    <div class="sectionbody">
        <div class="paragraph">
            <p>
                This page describes the steps required to install midPoint from a binary distribution.
                MidPoint is a Java web application distributed in a form of a stand-alone self-contained server.
                All that is essentially needed is to unpack the distribution archive and run the server.
            </p>
        </div>
        <div class="paragraph">
            <p>
                This document describes the generic case suitable for trying out midPoint.
                For more complex installation scenarios please see <a href="/midpoint/install/">Installation Guide</a>.
            </p>
        </div>
    </div>
</div>

{% capture releaseNotesAdmonition %}
    Before you start the installation please make sure to see <a href="/midpoint/release/{{ page.release-version }}">Release Notes</a>, for list of environments that are known to work and for the list of known issues in current release.
{% endcapture %}
{% include admonition.html type="tip" title="Release Notes" content=releaseNotesAdmonition %}



{{ content }}

{% include release-install-download.html this=this %}

<div class="sect1">
    <h2 id="credits">Start MidPoint</h2>
    <div class="sectionbody">
        <div class="paragraph">
            If you want to customize administrator initial password before first start see <a href="/midpoint/reference/security/authentication/administrator-initial-password/">Administrator initial password</a>. By default password is generated.
        </div>
        <div class="paragraph">
            <p>
                All that remains is to start midPoint server up:
            </p>
        </div>
        <div class="listingblock">
            <div class="title">Starting midPoint (Linux)</div>
            <div class="content">
<pre class="CodeRay highlight"><code data-lang="bash">bin/start.sh</code></pre>
            </div>
        </div>
        <div class="listingblock">
            <div class="title">Starting midPoint (Windows)</div>
            <div class="content">
                <pre class="CodeRay highlight"><code data-lang="bat">bin\start.bat</code></pre>
            </div>
        </div>
    </div>
</div>


<div class="sect1">
    <h2 id="credits">Try MidPoint</h2>
    <div class="sectionbody">

        <div class="paragraph">
            <p>If you did not configure initial administrator password, you should search logs (<code>var/log/midpoint.log</code>) for <code>Administrator initial password</code>.
            The password may contain spaces, so it is enclosed with double qoutes. Do not forget to remove qoutes.</p>
        </div>
        <div class="paragraph">
            <p>
                Log in to the midPoint administration console using the following URL:
            </p>
        </div>
        <div class="paragraph">
            <pre><a href="http://localhost:8080/midpoint/">http://localhost:8080/midpoint/</a></pre>
        </div>
        <table class="tableblock frame-all grid-all fit-content">
            <tbody>
            <tr>
                <th class="tableblock"><p class="tableblock">Username</th>
                <td class="tableblock"><p class="tableblock"><code>administrator</code></td>
            </tr>
            <tr>
                <th class="tableblock"><p class="tableblock">Password</th>
                <td class="tableblock"><p class="tableblock">Generated / configured initial password.</td>
            </tr>
            </tbody>
        </table>
        <div class="paragraph">
            <p>
                User dashboard should be displayed after login. In case of any problems, please check midPoint logs in <code>var/log/</code> directory.
            </p>
        </div>
        <div class="admonitionblock warning">
            <table>
            <tr>
            <td class="icon">
            <i class="fa icon-warning" title="Warning"></i>
            </td>
            <td class="content">
            after first login to Administrator account change the password, or disable built-in administrator, because initial password may still be present in logs or environment variables after some time.
            </td>
            </tr>
            </table>
        </div>
    </div>
</div>

<div class="sect1">
    <h2 id="credits">What To Do Next?</h2>
    <div class="sectionbody">
        <div class="paragraph">
            <p>
                For a quick introduction to use of midPoint please follow the <a href="/midpoint/quickstart/">Quick Start Guide</a> or read through the <a href="/book">midPoint book</a> to get familiar with midPoint.
            </p>
        </div>
        <div class="paragraph">
            <p>
                MidPoint is using embedded H2 database by default to store its data.
                The embedded H2 database is find for first steps with midPoint, demo environments, development and similar non-production purposes.
                It is not supported for any pre-production and production use.
                PostgreSQL database has to be used for any serious midPoint deployment.
                Please see <a href="/midpoint/reference/repository/native-postgresql/usage/">native PostgreSQL repository page</a> for installation details.
            </p>
        </div>
        <div class="paragraph">
            <p>
                The <a href="https://docs.evolveum.com/midpoint/reference/deployment/stand-alone-deployment/">Stand-Alone Deployment</a> page describes layout of the installation directory.
            </p>
        </div>
    </div>
</div>

<div class="sect1">
    <h2 id="see-also">See Also</h2>
    <div class="sectionbody">
        <div class="ulist">
            <ul>
                <li>
                    <p><a href="/midpoint/quickstart/">Quick Start Guide</a></p>
                </li>
                <li>
                    <p><a href="/book/">MidPoint Book</a></p>
                </li>
                <li>
                    <p><a href="https://docs.evolveum.com/midpoint/reference/deployment/stand-alone-deployment/">Stand-Alone Deployment</a></p>
                </li>
            </ul>
        </div>
    </div>
</div>
