---
layout: page
title: Case Studies
permalink: /case-studies/
display-order: 900
---

<dl>
{% for talk in site.data.talks %}
    {% if talk.future != true %}
  <dt>{% if talk.slidesFile %}<a href="files/{{ talk.slidesFile }}">{% endif %}{{ talk.title }}{% if talk.slidesFile %}</a>{% endif %}
      {% if talk.videoUrl %}<a href="{{ talk.videoUrl }}"><i class="far fa-play-circle" title="Download Video"></i></a>{% endif %}
      {% if talk.youtubeUrl %}<a href="{{ talk.youtubeUrl }}"><i class="fab fa-youtube" title="Watch on Youtube"></i></a>{% endif %}
  </dt>
  <dd>
        {{ talk.date }}, {{ talk.author }},
        {% if talk.eventUrl %}<a href="{{ talk.eventUrl }}">{% endif %}{{talk.event}}{% if talk.eventUrl %}</a>{% endif %}{% if talk.description %}:{% endif %}
        {% if talk.description %}<p>{{ talk.description }}</p>{% endif %}
        {% if talk.paperFile %}<p>See also <a href="files/{{ talk.paperFile }}">full paper</a>.</p>{% endif %}
  </dd>
    {% endif %}
{% endfor %}
</dl>
