---
layout: page
title: Case Studies
permalink: /case-studies/
display-order: 900
---

<dl>
{% for casestudies in site.data.casestudies %}
    {% if casestudies.future != true %}
  <dt>{% if casestudies.caseFile %}<a href="files/{{ casestudies.caseFile }}">{% endif %}{{ casestudies.title }}{% if casestudies.caseFile %}</a>{% endif %}
  </dt>
  <dd>
        {{ casestudies.date }}, {{ casestudies.author }},
        {% if casestudies.eventUrl %}<a href="{{ casestudies.eventUrl }}">{% endif %}{{casestudies.event}}{% if casestudies.eventUrl %}</a>{% endif %}{% if casestudies.description %}:{% endif %}
        {% if casestudies.description %}<p>{{ casestudies.description }}</p>{% endif %}
        {% if casestudies.caseFile %}<p>See also <a href="files/{{ casestudies.caseFile }}">full paper</a>.</p>{% endif %}
  </dd>
    {% endif %}
{% endfor %}
</dl>
