---
layout: page
title: Practical Identity Management with MidPoint
search-alias: "book"
keywords: [ "book" ]
permalink: /book/
display-order: 80
nav-title: Book
---

<img class="illustration" src="download-pic.jpg"/>

<p>
  This book is all about <a href="https://midpoint.evolveum.com">midPoint</a>.
  MidPoint is an open source identity management and governance system.
  It is comprehensive and quite complex system and it takes some time and skill to master it.
  This book is a guide through the wonderland of identity management and governance with midPoint.
</p>

<p>
  This book is written by engineers for engineers.
  You will not find sales material or business presentations in this book.
  It is written by people that develop, maintain and support midPoint.
  The book starts with an introduction to Identity and Access Management (IAM) concepts, provides overview of midPoint and then it dives down to technical topics.
</p>

<p>

</p>

<p>
The book is available in three formats:

<ul class="book-dl-links">
  <li><a href="practical-identity-management-with-midpoint.html"><i class="icon far fa-file-code"></i>HTML</a></li>
  <li><a href="practical-identity-management-with-midpoint.pdf"><i class="icon far fa-file-pdf"></i>PDF</a></li>
  <li><a href="practical-identity-management-with-midpoint.epub"><i class="icon far fa-file-alt"></i>EPUB</a></li>
</ul>

</p>

<p>
  The book is available under the terms of <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.
</p>

<h2>Book Content</h2>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Chapter</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {% for chapter in site.data.book-chapters %}
    <tr>
        <td>{% if chapter.num %}{{ chapter.num }}{% endif %}</td>
        <th  scope="row"><a href="{% if chapter.url contains '#' %}
          {% assign parts = chapter.url | split: '#' %}
          {% assign before_hash = parts[0] %}
          {% assign after_hash = parts[1] %}

          {% assign path_parts = before_hash | split: '/' %}
          {% assign filename = path_parts | last %}
          {% assign path_without_filename = before_hash | remove: filename %}

          {{ path_without_filename }}{{ after_hash }}
        {% else %}
          {{ chapter.url }}
        {% endif %}">{{chapter.title}}</a></th>
        <td>{{chapter.description | escape}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<h2>Videos</h2>

<p>
    The book is accompanied by a series of video tutorials.
    There is one video corresponding to each of the book chapters that deal with MidPoint configuration.
</p>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Video</th>
        <th scope="col">Corresponding book chapter</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {% for chapter in site.data.book-chapters %}
    {% if chapter.video %}
    <tr>
        <th  scope="row"><a href="{{chapter.video.url}}"><i class="fab fa-youtube"></i> {{chapter.video.title}}</a></th>
        <td><a href="{% if chapter.url contains '#' %}
          {% assign parts = chapter.url | split: '#' %}
          {% assign before_hash = parts[0] %}
          {% assign after_hash = parts[1] %}

          {% assign path_parts = before_hash | split: '/' %}
          {% assign filename = path_parts | last %}
          {% assign path_without_filename = before_hash | remove: filename %}

          {{ path_without_filename }}{{ after_hash }}
        {% else %}
          {{ chapter.url }}
        {% endif %}">Chapter {{chapter.num}}</a></td>
        <td>{{chapter.description | escape}}</td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
