---
layout: page
title: Case Studies
permalink: /case-studies/
display-order: 900
---

<p>
   This page contains real life experiences of organizations from various verticals that decided to implement midPoint. 
   Learn more about challenges they faced and why midPoint was the right choice to deal with them.
</p>

<dl>
<br>
<h2>English language:</h2>
{% for casestudies in site.data.casestudies %}
    {% if casestudies.lang == nil %}
  <dt>
      {% if casestudies.caseURL !=nil and casestudies.lang == nil %}
        <a href="{{ casestudies.caseURL }}" target="_blank">{{ casestudies.title }}</a>
      {% else %}
        {% if casestudies.caseFile !=nil and casestudies.lang == nil %}
        <a href="/casestudies/files/{{ casestudies.caseFile }}" target="_blank">{{ casestudies.title }}</a>
        {% else %}
        <p>Error: CaseURL nor CaseFile is set</p>
        {% endif %}
      {% endif %}
  </dt>
  <dd>
        {{ casestudies.date }}, by {{ casestudies.author }}
        {% if casestudies.description %}<p>{{ casestudies.description }}</p>{% endif %}
  </dd>
    {% endif %}
{% endfor %}
</dl>

<dl>
<br>
<h2>Other language:</h2>
{% for casestudies in site.data.casestudies %}
    {% if casestudies.lang != nil %}
  <dt>
      {% if casestudies.caseURL !=nil and casestudies.lang != nil %}
        <a href="{{ casestudies.caseURL }}" target="_blank">{{ casestudies.title }}</a>
      {% else %}
        {% if casestudies.caseFile !=nil and casestudies.lang != nil %}
        <a href="/casestudies/files/{{ casestudies.caseFile }}" target="_blank">{{ casestudies.title }}</a>
        {% else %}
        <p>Error: CaseURL nor CaseFile is set</p>
        {% endif %}
      {% endif %}
  </dt>
  <dd>
        {{ casestudies.date }}, by {{ casestudies.author }}, in {{ casestudies.lang }} language
        {% if casestudies.description %}<p>{{ casestudies.description }}</p>{% endif %}
  </dd>
    {% endif %}
{% endfor %}
</dl>
