---
layout: page
title: Case Studies
permalink: /case-studies/
display-order: 900
---

<p>
   This page contains real life experiences of organizations from various verticals that decided to implement midPoint, the open source leader in identity governance and administration. 
   Learn more about challenges they faced and why midPoint was the right choice to deal with them. Do you have your own story you would like to share with midPoint community? <a href="https://evolveum.com/about-us/contact-us/">Contact us</a> for making that happen
</p>

<dl>
<br>
{% for casestudies in site.data.casestudies %}
    {% if casestudies.lang == nil %}
  <dt>
      {% if casestudies.caseURL !=nil and casestudies.lang == nil %}
        <a href="{{ casestudies.caseURL }}" target="_blank">{{ casestudies.title }}</a>
      {% else %}
        {% if casestudies.caseFile !=nil and casestudies.lang == nil %}
        <a href="/casestudies/files/{{ casestudies.caseFile }}" target="_blank">{{ casestudies.title }}</a>
        {% else %}
        <p>Error: CaseURL nor CaseFile is set</p>
        {% endif %}
      {% endif %}
  </dt>
  <dd>
        <b>{{ casestudies.date }}, by {{ casestudies.author }}</b>
        {% if casestudies.description %}<p>{{ casestudies.description }}</p>{% endif %}
  </dd>
    {% endif %}
{% endfor %}
</dl>

<dl>
<br>
<h2>Other languages</h2>
{% for casestudies in site.data.casestudies %}
    {% if casestudies.lang != nil %}
  <dt>
      {% if casestudies.caseURL !=nil and casestudies.lang != nil %}
        <a href="{{ casestudies.caseURL }}" target="_blank">{{ casestudies.title }}</a>
      {% else %}
        {% if casestudies.caseFile !=nil and casestudies.lang != nil %}
        <a href="/casestudies/files/{{ casestudies.caseFile }}" target="_blank">{{ casestudies.title }}</a>
        {% else %}
        <p>Error: CaseURL nor CaseFile is set</p>
        {% endif %}
      {% endif %}
  </dt>
  <dd>
        <b>{{ casestudies.date }}, by {{ casestudies.author }}, in {{ casestudies.lang }} language</b>
        {% if casestudies.description %}<p>{{ casestudies.description }}</p>{% endif %}
  </dd>
    {% endif %}
{% endfor %}
</dl>
