---
layout: page
title: Case Studies
permalink: /case-studies/
display-order: 900
---

<p>
   This page contains real life experiences of organizations from various verticals that decided to implement midPoint. 
   Learn more about challenges they faced and why midPoint was the right choice to deal with them.
</p>

<dl>
{% for casestudies in site.data.casestudies %}
    {% if casestudies.future != true %}
  <dt>{% if casestudies.caseFile %}<a href="/casestudies/files/{{ casestudies.caseFile }}">{% endif %}{{ casestudies.title }}{% if casestudies.caseFile %}</a>{% endif %}
  </dt>
  <dt>{% if casestudies.caseURL %}<a href="{{ casestudies.caseURL }}">{% endif %}{{ casestudies.title }}{% if casestudies.caseURL %}</a>{% endif %}
  </dt>
  <dd>
        {{ casestudies.date }}, by {{ casestudies.author }}
        {% if casestudies.eventUrl %}<a href="{{ casestudies.eventUrl }}">{% endif %}{{casestudies.event}}{% if casestudies.eventUrl %}</a>{% endif %}
        {% if casestudies.description %}<p>{{ casestudies.description }}</p>{% endif %}
  </dd>
    {% endif %}
{% endfor %}
</dl>
